In [122]:
# Do all imports and installs here
from pyspark.sql.functions import udf
from pyspark.sql.session import SparkSession
import datetime
import pandas as pd
import pyspark.sql.functions as F
import psycopg2
from pyspark.sql.types import IntegerType

In [123]:
spark = SparkSession.builder\
                    .config("spark.jars.packages","org.apache.hadoop:hadoop-aws:2.7.0")\
                    .appName("Project: i94")\
                    .getOrCreate()

In [124]:
sp_sas_data = (spark.read.format("csv")\
                         .options(header="true")\
                         .load("D:/Capstone-Project/Project-Workspace/immigration_data_sample.csv")
              )

In [125]:
sp_sas_data.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- cicid: string (nullable = true)
 |-- i94yr: string (nullable = true)
 |-- i94mon: string (nullable = true)
 |-- i94cit: string (nullable = true)
 |-- i94res: string (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: string (nullable = true)
 |-- i94mode: string (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: string (nullable = true)
 |-- i94bir: string (nullable = true)
 |-- i94visa: string (nullable = true)
 |-- count: string (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: string (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: string (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [126]:
# Create a function that returns the desired string from a timestamp 
def convert_5_digit_sasdate_to_yyyymmdd(sasdate):
    epoch = datetime.datetime(1960, 1, 1)
    return (epoch + datetime.timedelta(days=sasdate)).strftime('%Y%m%d')

# Create the UDF
convert_5_digit_sasdate_to_yyyymmdd_udf = udf(lambda x: convert_5_digit_sasdate_to_yyyymmdd(x))

#print(convert_5_digit_sasdate_to_yyyymmdd(20574.0))

In [127]:
sp_df = sp_sas_data
sp_df = sp_df.drop("_c0")
# drop columns that CIC does not use
sp_df = sp_df.drop("dtadfile","visapost","occup","entdepa","entdepd","entdepu","dtaddto")
sp_df = sp_df.drop("i94yr","i94mon","insnum","admnum")
sp_df = sp_df.withColumn("arrdate", sp_df["arrdate"].cast(IntegerType()))
sp_df = sp_df.withColumn("depdate", sp_df["depdate"].cast(IntegerType()))
sp_df = sp_df.withColumnRenamed("arrdate", "arr_yyyymmdd")
sp_df = sp_df.withColumnRenamed("depdate", "dep_yyyymmdd")
sp_df = sp_df.withColumnRenamed("count", "i94count")

In [128]:
sp_df.printSchema()

root
 |-- cicid: string (nullable = true)
 |-- i94cit: string (nullable = true)
 |-- i94res: string (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arr_yyyymmdd: integer (nullable = true)
 |-- i94mode: string (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- dep_yyyymmdd: integer (nullable = true)
 |-- i94bir: string (nullable = true)
 |-- i94visa: string (nullable = true)
 |-- i94count: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [129]:
sp_depdate_nn = sp_df.where(F.col("dep_yyyymmdd").isNotNull())
sp_depdate_nn = sp_depdate_nn.withColumn('arr_yyyymmdd', convert_5_digit_sasdate_to_yyyymmdd_udf(sp_depdate_nn['arr_yyyymmdd']))
sp_depdate_nn = sp_depdate_nn.withColumn('dep_yyyymmdd', convert_5_digit_sasdate_to_yyyymmdd_udf(sp_depdate_nn['dep_yyyymmdd']))

In [130]:
sp_depdate_nn.createOrReplaceTempView("depdate_nn")
spark.sql("""
select *
from depdate_nn
where 1 = 1
""").show(5)

+---------+------+------+-------+------------+-------+-------+------------+------+-------+--------+-------+-------+------+-------+-----+--------+
|    cicid|i94cit|i94res|i94port|arr_yyyymmdd|i94mode|i94addr|dep_yyyymmdd|i94bir|i94visa|i94count|matflag|biryear|gender|airline|fltno|visatype|
+---------+------+------+-------+------------+-------+-------+------------+------+-------+--------+-------+-------+------+-------+-----+--------+
|4084316.0| 209.0| 209.0|    HHW|    20160422|    1.0|     HI|    20160429|  61.0|    2.0|     1.0|      M| 1955.0|     F|     JL|00782|      WT|
|4422636.0| 582.0| 582.0|    MCA|    20160423|    1.0|     TX|    20160424|  26.0|    2.0|     1.0|      M| 1990.0|     M|    *GA|XBLNG|      B2|
|1195600.0| 148.0| 112.0|    OGG|    20160407|    1.0|     FL|    20160427|  76.0|    2.0|     1.0|      M| 1940.0|     M|     LH|00464|      WT|
|5291768.0| 297.0| 297.0|    LOS|    20160428|    1.0|     CA|    20160507|  25.0|    2.0|     1.0|      M| 1991.0|     M|     QR|00739|      B2|
| 985523.0| 111.0| 111.0|    CHM|    20160406|    3.0|     NY|    20160409|  19.0|    2.0|     1.0|      M| 1997.0|     F|   null| LAND|      WT|
+---------+------+------+-------+------------+-------+-------+------------+------+-------+--------+-------+-------+------+-------+-----+--------+
only showing top 5 rows

In [131]:
sp_depdate_n = sp_df.where(F.col("dep_yyyymmdd").isNull())
sp_depdate_n = sp_depdate_n.withColumn('arr_yyyymmdd', convert_5_digit_sasdate_to_yyyymmdd_udf(sp_depdate_n['arr_yyyymmdd']))

In [132]:
sp_depdate_n.createOrReplaceTempView("depdate_n")
spark.sql("""
select *
from depdate_n
where 1 = 1
""").show(5)

+---------+------+------+-------+------------+-------+-------+------------+------+-------+--------+-------+-------+------+-------+-----+--------+
|    cicid|i94cit|i94res|i94port|arr_yyyymmdd|i94mode|i94addr|dep_yyyymmdd|i94bir|i94visa|i94count|matflag|biryear|gender|airline|fltno|visatype|
+---------+------+------+-------+------------+-------+-------+------------+------+-------+--------+-------+-------+------+-------+-----+--------+
| 216657.0| 696.0| 696.0|    FTL|    20160401|    1.0|     FL|        null|  54.0|    2.0|     1.0|   null| 1962.0|     F|     2D|00406|      B2|
|5957654.0| 254.0| 276.0|    SAI|    20160412|    1.0|     GU|        null|  20.0|    2.0|     1.0|   null| 1996.0|     M|     7C|03404|     GMT|
|1435383.0| 574.0| 206.0|    BLA|    20160408|    3.0|     NE|        null|  61.0|    2.0|     1.0|   null| 1955.0|     F|   null|01788|      B2|
|1843262.0| 245.0| 245.0|    CHI|    20160410|    1.0|     IN|        null|  60.0|    2.0|     1.0|   null| 1956.0|     F|     AA|00186|      B2|
|4231176.0| 586.0| 586.0|    NYC|    20160422|    1.0|     NJ|        null|  68.0|    2.0|     1.0|   null| 1948.0|  null|     AA|02179|      B2|
+---------+------+------+-------+------------+-------+-------+------------+------+-------+--------+-------+-------+------+-------+-----+--------+
only showing top 5 rows

In [133]:
sp_stg_cic = sp_depdate_nn.union(sp_depdate_n)

In [134]:
sp_stg_cic.createOrReplaceTempView("stg_cic")
spark.sql("""
select count(*)
from stg_cic
where 1 = 1
and dep_yyyymmdd is null
""").show()

+--------+
|count(1)|
+--------+
|      49|
+--------+

In [135]:
sp_stg_cic.printSchema()

root
 |-- cicid: string (nullable = true)
 |-- i94cit: string (nullable = true)
 |-- i94res: string (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arr_yyyymmdd: string (nullable = true)
 |-- i94mode: string (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- dep_yyyymmdd: string (nullable = true)
 |-- i94bir: string (nullable = true)
 |-- i94visa: string (nullable = true)
 |-- i94count: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [136]:
from pyspark.sql.types import IntegerType
sp_stg_cic = sp_stg_cic.withColumn("cicid", sp_stg_cic["cicid"].cast(IntegerType()))
sp_stg_cic = sp_stg_cic.withColumn("i94cit", sp_stg_cic["i94cit"].cast(IntegerType()))
sp_stg_cic = sp_stg_cic.withColumn("i94res", sp_stg_cic["i94res"].cast(IntegerType()))
sp_stg_cic = sp_stg_cic.withColumn("i94mode", sp_stg_cic["i94mode"].cast(IntegerType()))
sp_stg_cic = sp_stg_cic.withColumn("i94bir", sp_stg_cic["i94bir"].cast(IntegerType()))
sp_stg_cic = sp_stg_cic.withColumn("i94visa", sp_stg_cic["i94visa"].cast(IntegerType()))
sp_stg_cic = sp_stg_cic.withColumn("i94count", sp_stg_cic["i94count"].cast(IntegerType()))
sp_stg_cic = sp_stg_cic.withColumn("biryear", sp_stg_cic["biryear"].cast(IntegerType()))
#sp_stg_cic = sp_stg_cic.withColumn("arr_yyyymmdd", sp_stg_cic["arr_yyyymmdd"].cast(IntegerType()))
#sp_stg_cic = sp_stg_cic.withColumn("dep_yyyymmdd", sp_stg_cic["dep_yyyymmdd"].cast(IntegerType()))

In [137]:
sp_stg_cic.show(5)

+-------+------+------+-------+------------+-------+-------+------------+------+-------+--------+-------+-------+------+-------+-----+--------+
|  cicid|i94cit|i94res|i94port|arr_yyyymmdd|i94mode|i94addr|dep_yyyymmdd|i94bir|i94visa|i94count|matflag|biryear|gender|airline|fltno|visatype|
+-------+------+------+-------+------------+-------+-------+------------+------+-------+--------+-------+-------+------+-------+-----+--------+
|4084316|   209|   209|    HHW|    20160422|      1|     HI|    20160429|    61|      2|       1|      M|   1955|     F|     JL|00782|      WT|
|4422636|   582|   582|    MCA|    20160423|      1|     TX|    20160424|    26|      2|       1|      M|   1990|     M|    *GA|XBLNG|      B2|
|1195600|   148|   112|    OGG|    20160407|      1|     FL|    20160427|    76|      2|       1|      M|   1940|     M|     LH|00464|      WT|
|5291768|   297|   297|    LOS|    20160428|      1|     CA|    20160507|    25|      2|       1|      M|   1991|     M|     QR|00739|      B2|
| 985523|   111|   111|    CHM|    20160406|      3|     NY|    20160409|    19|      2|       1|      M|   1997|     F|   null| LAND|      WT|
+-------+------+------+-------+------------+-------+-------+------------+------+-------+--------+-------+-------+------+-------+-----+--------+
only showing top 5 rows

In [138]:
conn = psycopg2.connect("host=127.0.0.1 dbname=i94 user=i94user password=Passw0rd")
cur = conn.cursor()

In [139]:
delete_from_stg_cic = ("""
delete from stg_cic;
""")

In [140]:
sp_stg_cic.printSchema()

root
 |-- cicid: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arr_yyyymmdd: string (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- dep_yyyymmdd: string (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- i94count: integer (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [141]:
insert_into_stg_cic = ("""
insert into stg_cic
(
    cicid,
    i94cit,
    i94res,
    i94port,
    arr_yyyymmdd,
    i94mode,
    i94addr,
    dep_yyyymmdd,
    i94bir,
    i94visa,
    i94count,
    matflag,
    biryear,
    gender,
    airline,
    fltno,
    visatype
) values 
(
%s,
%s,
%s,
%s,
%s,
%s,
%s,
%s,
%s,
%s,
%s,
%s,
%s,
%s,
%s,
%s,
%s
);
""")

In [142]:
# a function to insert records
def insert_stg_cic_records(cur, stg_cic_df):
    for i, row in stg_cic_df.iterrows():
        #print('i =',i)
        print('row =',row)
        cur.execute(insert_into_stg_cic,row)

In [143]:
# delete records
cur.execute(delete_from_stg_cic)

In [144]:
sp_stg_cic.printSchema()

root
 |-- cicid: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arr_yyyymmdd: string (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- dep_yyyymmdd: string (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- i94count: integer (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [145]:
pd_stg_sic = sp_stg_cic.select("*").toPandas()

In [146]:
pd_stg_sic.head()

,cicid,i94cit,i94res,i94port,arr_yyyymmdd,i94mode,i94addr,dep_yyyymmdd,i94bir,i94visa,i94count,matflag,biryear,gender,airline,fltno,visatype
0,4084316,209,209,HHW,20160422,1,HI,20160429,61,2,1,M,1955,F,JL,00782,WT
1,4422636,582,582,MCA,20160423,1,TX,20160424,26,2,1,M,1990,M,*GA,XBLNG,B2
2,1195600,148,112,OGG,20160407,1,FL,20160427,76,2,1,M,1940,M,LH,00464,WT
3,5291768,297,297,LOS,20160428,1,CA,20160507,25,2,1,M,1991,M,QR,00739,B2
4,985523,111,111,CHM,20160406,3,NY,20160409,19,2,1,M,1997,F,None,LAND,WT

In [147]:
pd_stg_sic[pd_stg_sic['dep_yyyymmdd'].isnull()]

,cicid,i94cit,i94res,i94port,arr_yyyymmdd,i94mode,i94addr,dep_yyyymmdd,i94bir,i94visa,i94count,matflag,biryear,gender,airline,fltno,visatype
951,216657,696,696,FTL,20160401,1,FL,None,54,2,1,None,1962,F,2D,00406,B2
952,5957654,254,276,SAI,20160412,1,GU,None,20,2,1,None,1996,M,7C,03404,GMT
953,1435383,574,206,BLA,20160408,3,NE,None,61,2,1,None,1955,F,None,01788,B2
954,1843262,245,245,CHI,20160410,1,IN,None,60,2,1,None,1956,F,AA,00186,B2
955,4231176,586,586,NYC,20160422,1,NJ,None,68,2,1,None,1948,None,AA,02179,B2
956,4732257,245,245,SFR,20160425,1,CA,None,68,2,1,None,1948,M,UA,00008,B2
957,1093165,575,575,MIA,20160406,1,FL,None,34,2,1,None,1982,M,AV,00310,B2
958,5913269,438,438,HHW,20160423,2,None,None,61,2,1,None,1955,F,None,None,WT
959,510204,258,258,CHI,20160403,1,IL,None,59,2,1,None,1957,M,TK,5,B2
960,4700630,135,135,NYC,20160425,1,NY,None,29,2,1,None,1987,F,BA,117,WT
961,5927858,438,438,HHW,20160423,2,None,None,88,2,1,M,1928,M,None,None,WT
962,5514177,343,343,HOU,20160429,1,TX,None,3,3,1,None,2013,M,EK,00211,F2
963,3552753,438,438,BLA,20160419,3,WA,None,24,2,1,None,1992,M,None,LAND,WT
964,3886754,213,213,CHI,20160421,1,IL,None,78,2,1,None,1938,M,AI,00127,B2
965,2652805,689,689,ATL,20160414,1,FL,None,35,2,1,None,1981,M,DL,00060,B2
966,86281,368,368,KOA,20160401,1,None,None,35,2,1,None,1981,M,SV,00023,B2
967,1400880,213,213,NEW,20160408,1,NJ,None,2,3,1,None,2014,M,AI,191,F2
968,1624057,213,213,CHI,20160409,1,CA,None,64,2,1,None,1952,F,EK,00235,B2
969,4251217,104,104,NEW,20160423,1,None,None,41,2,1,None,1975,F,UA,00091,WT
970,1553520,692,692,NYC,20160408,1,NY,None,1,2,1,None,2015,F,EQ,550,B2
971,5956950,254,276,AGA,20160414,1,GU,None,9,2,1,None,2007,M,LJ,00641,GMT
972,1401034,213,213,NYC,20160408,1,NY,None,30,2,1,None,1986,None,QR,00701,B2
973,6019750,117,135,LOS,20160408,9,NY,None,39,2,1,None,1977,F,None,None,WT
974,3380572,266,266,LOS,20160418,1,FL,None,23,3,1,None,1993,M,UA,180,M1
975,5827765,582,582,PHO,20160430,1,OK,None,59,2,1,None,1957,F,Y4,00902,B2
976,499578,245,245,SFR,20160403,1,CA,None,29,3,1,None,1987,F,UA,00889,F1
977,54317,209,209,HHW,20160401,1,HI,None,28,2,1,None,1988,M,JL,00782,WT
978,5771544,514,514,BAL,20160430,1,MD,None,33,3,1,None,1983,M,WN,907,F1
979,4804280,582,582,DAL,20160425,1,CA,None,23,2,1,None,1993,F,Y4,00892,B2
980,5902022,112,112,HHW,20160415,9,None,None,55,2,1,None,1961,X,None,None,WT
981,751451,577,577,OTM,20160404,3,CA,None,25,2,1,None,1991,M,None,LAND,B2
982,6034994,252,209,AGA,20160429,1,GU,None,23,2,1,None,1993,M,UA,00827,GMT
983,2814946,582,582,ONT,20160415,1,CA,None,51,2,1,None,1965,F,AM,00780,B2
984,5020169,113,113,NYC,20160427,1,NY,None,33,2,1,None,1983,M,TK,00003,WT
985,2892590,123,123,WAS,20160416,1,MD,None,61,1,1,None,1955,F,SK,00925,WB
986,3434626,582,582,CHI,20160418,1,IL,None,70,2,1,None,1946,M,Y4,00946,B2
987,1044320,258,258,NYC,20160406,1,MI,None,29,2,1,None,1987,F,QR,00701,B2
988,4106787,258,258,WAS,20160422,1,MA,None,26,3,1,None,1990,F,QR,00707,F2
989,4456287,687,687,MIA,20160423,1,FL,None,32,2,1,None,1984,M,AR,01302,B2
990,561992,582,582,CHI,20160403,1,IL,None,28,2,1,None,1988,M,Y4,940,B2
991,5069811,213,213,BOS,20160427,1,MA,None,70,2,1,None,1946,F,QR,00743,B2
992,5928244,438,438,HHW,20160423,2,None,None,70,2,1,M,1946,M,None,None,WT
993,888522,512,512,FTL,20160405,1,IN,None,61,2,1,None,1955,None,B6,02316,B2
994,3360046,213,213,NYC,20160418,1,CT,None,66,2,1,None,1950,F,AI,00101,B2
995,5928085,438,438,HHW,20160423,2,None,None,74,2,1,M,1942,M,None,None,WT
996,3484147,103,103,MIA,20160419,1,FL,None,63,2,1,None,1953,F,AB,07000,WT
997,3535501,245,245,NEW,20160419,1,PA,None,56,2,1,None,1960,F,UA,00087,B2
998,1032729,213,213,PHI,20160406,1,NJ,None,70,2,1,None,1946,M,BA,00069,B2
999,5018908,111,111,MON,20160427,1,FL,None,60,2,1,None,1956,M,RV,01606,WT

In [148]:
# insert records
insert_stg_cic_records(cur, pd_stg_sic)

row = cicid            4084316
i94cit               209
i94res               209
i94port              HHW
arr_yyyymmdd    20160422
i94mode                1
i94addr               HI
dep_yyyymmdd    20160429
i94bir                61
i94visa                2
i94count               1
matflag                M
biryear             1955
gender                 F
airline               JL
fltno              00782
visatype              WT
Name: 0, dtype: object
row = cicid            4422636
i94cit               582
i94res               582
i94port              MCA
arr_yyyymmdd    20160423
i94mode                1
i94addr               TX
dep_yyyymmdd    20160424
i94bir                26
i94visa                2
i94count               1
matflag                M
biryear             1990
gender                 M
airline              *GA
fltno              XBLNG
visatype              B2
Name: 1, dtype: object
row = cicid            1195600
i94cit               148
i94res               112
i94port              OGG
arr_yyyymmdd    20160407
i94mode                1
i94addr               FL
dep_yyyymmdd    20160427
i94bir                76
i94visa                2
i94count               1
matflag                M
biryear             1940
gender                 M
airline               LH
fltno              00464
visatype              WT
Name: 2, dtype: object
row = cicid            5291768
i94cit               297
i94res               297
i94port              LOS
arr_yyyymmdd    20160428
i94mode                1
i94addr               CA
dep_yyyymmdd    20160507
i94bir                25
i94visa                2
i94count               1
matflag                M
biryear             1991
gender                 M
airline               QR
fltno              00739
visatype              B2
Name: 3, dtype: object
row = cicid             985523
i94cit               111
i94res               111
i94port              CHM
arr_yyyymmdd    20160406
i94mode                3
i94addr               NY
dep_yyyymmdd    20160409
i94bir                19
i94visa                2
i94count               1
matflag                M
biryear             1997
gender                 F
airline             None
fltno               LAND
visatype              WT
Name: 4, dtype: object
row = cicid            1481650
i94cit               577
i94res               577
i94port              ATL
arr_yyyymmdd    20160408
i94mode                1
i94addr               GA
dep_yyyymmdd    20160601
i94bir                51
i94visa                2
i94count               1
matflag                M
biryear             1965
gender                 M
airline               DL
fltno                910
visatype              B2
Name: 5, dtype: object
row = cicid            2197173
i94cit               245
i94res               245
i94port              SFR
arr_yyyymmdd    20160412
i94mode                1
i94addr               CA
dep_yyyymmdd    20160630
i94bir                48
i94visa                2
i94count               1
matflag                M
biryear             1968
gender                 F
airline               CX
fltno                870
visatype              B2
Name: 6, dtype: object
row = cicid             232708
i94cit               113
i94res               135
i94port              NYC
arr_yyyymmdd    20160402
i94mode                1
i94addr               NY
dep_yyyymmdd    20160410
i94bir                33
i94visa                2
i94count               1
matflag                M
biryear             1983
gender                 F
airline               BA
fltno              00117
visatype              WT
Name: 7, dtype: object
row = cicid            5227851
i94cit               131
i94res               131
i94port              CHI
arr_yyyymmdd    20160428
i94mode                1
i94addr               IL
dep_yyyymmdd    20160501
i94bir                39
i94visa                2
i94count               1
matflag                M
biryear             1977
gender              None
airline               LX
fltno              00008
visatype              WT
Name: 8, dtype: object
row = cicid              13213
i94cit               116
i94res               116
i94port              LOS
arr_yyyymmdd    20160401
i94mode                1
i94addr               CA
dep_yyyymmdd    20160409
i94bir                35
i94visa                2
i94count               1
matflag                M
biryear             1981
gender              None
airline               AA
fltno              00109
visatype              WT
Name: 9, dtype: object
row = cicid            1230572
i94cit               438
i94res               438
i94port              LOS
arr_yyyymmdd    20160407
i94mode                1
i94addr               CA
dep_yyyymmdd    20160421
i94bir                 4
i94visa                2
i94count               1
matflag                M
biryear             2012
gender                 F
airline               QF
fltno              00015
visatype              WT
Name: 10, dtype: object
row = cicid            5056736
i94cit               209
i94res               209
i94port              PHI
arr_yyyymmdd    20160427
i94mode                1
i94addr               HI
dep_yyyymmdd    20160501
i94bir                72
i94visa                2
i94count               1
matflag                M
biryear             1944
gender                 M
airline               DL
fltno              00598
visatype              WT
Name: 11, dtype: object
row = cicid            2711583
i94cit               148
i94res               112
i94port              FTL
arr_yyyymmdd    20160415
i94mode                2
i94addr             None
dep_yyyymmdd    20160421
i94bir                54
i94visa                2
i94count               1
matflag                M
biryear             1962
gender                 F
airline              VES
fltno              93724
visatype              WT
Name: 12, dtype: object
row = cicid            4916639
i94cit               260
i94res               260
i94port              LOS
arr_yyyymmdd    20160426
i94mode                1
i94addr               CA
dep_yyyymmdd    20160507
i94bir                62
i94visa                2
i94count               1
matflag                M
biryear             1954
gender                 F
airline               EK
fltno              00215
visatype              B2
Name: 13, dtype: object
row = cicid            1387607
i94cit               148
i94res               112
i94port              BOS
arr_yyyymmdd    20160408
i94mode                1
i94addr               MA
dep_yyyymmdd    20160416
i94bir                34
i94visa                2
i94count               1
matflag                M
biryear             1982
gender                 F
airline               AF
fltno              00338
visatype              WT
Name: 14, dtype: object
row = cicid            5960799
i94cit               245
i94res               245
i94port              SAI
arr_yyyymmdd    20160401
i94mode                1
i94addr             None
dep_yyyymmdd    20160406
i94bir                30
i94visa                2
i94count               1
matflag                M
biryear             1986
gender                 M
airline               MU
fltno              00763
visatype              CP
Name: 15, dtype: object
row = cicid            1056530
i94cit               512
i94res               512
i94port              NAS
arr_yyyymmdd    20160406
i94mode                1
i94addr               GA
dep_yyyymmdd    20160408
i94bir                21
i94visa                2
i94count               1
matflag                M
biryear             1995
gender                 F
airline               DL
fltno              00554
visatype              B2
Name: 16, dtype: object
row = cicid            2466971
i94cit               689
i94res               689
i94port              FTL
arr_yyyymmdd    20160413
i94mode                1
i94addr               FL
dep_yyyymmdd    20160425
i94bir                43
i94visa                2
i94count               1
matflag                M
biryear             1973
gender              None
airline               AD
fltno              08704
visatype              B2
Name: 17, dtype: object
row = cicid            4668286
i94cit               746
i94res               158
i94port              SEA
arr_yyyymmdd    20160424
i94mode                1
i94addr               NV
dep_yyyymmdd    20160427
i94bir                46
i94visa                2
i94count               1
matflag                M
biryear             1970
gender                 M
airline               DL
fltno              00143
visatype              B2
Name: 18, dtype: object
row = cicid            2556646
i94cit               260
i94res               260
i94port              FTL
arr_yyyymmdd    20160414
i94mode                1
i94addr               CA
dep_yyyymmdd    20160522
i94bir                14
i94visa                2
i94count               1
matflag                M
biryear             2002
gender                 M
airline               OZ
fltno              00204
visatype              B2
Name: 19, dtype: object
row = cicid            4042798
i94cit               115
i94res               115
i94port              ORL
arr_yyyymmdd    20160422
i94mode                1
i94addr               FL
dep_yyyymmdd    20160514
i94bir                62
i94visa                2
i94count               1
matflag                M
biryear             1954
gender              None
airline               FI
fltno              00689
visatype              WT
Name: 20, dtype: object
row = cicid            2139030
i94cit               689
i94res               689
i94port              PSP
arr_yyyymmdd    20160411
i94mode                1
i94addr               HI
dep_yyyymmdd    20160424
i94bir                40
i94visa                2
i94count               1
matflag                M
biryear             1976
gender              None
airline               AA
fltno              00962
visatype              B2
Name: 21, dtype: object
row = cicid            3097076
i94cit               111
i94res               511
i94port              NYC
arr_yyyymmdd    20160417
i94mode                1
i94addr               NY
dep_yyyymmdd    20160423
i94bir                41
i94visa                2
i94count               1
matflag                M
biryear             1975
gender                 F
airline               DY
fltno              06750
visatype              WT
Name: 22, dtype: object
row = cicid            2741251
i94cit               251
i94res               251
i94port              HOU
arr_yyyymmdd    20160415
i94mode                1
i94addr               CA
dep_yyyymmdd    20160430
i94bir                22
i94visa                2
i94count               1
matflag                M
biryear             1994
gender                 M
airline               BA
fltno              00273
visatype              B2
Name: 23, dtype: object
row = cicid            2721962
i94cit               209
i94res               209
i94port              NEW
arr_yyyymmdd    20160415
i94mode                1
i94addr               HI
dep_yyyymmdd    20160418
i94bir                41
i94visa                2
i94count               1
matflag                M
biryear             1975
gender              None
airline               HA
fltno              00458
visatype              WT
Name: 24, dtype: object
row = cicid             513779
i94cit               268
i94res               268
i94port              SFR
arr_yyyymmdd    20160403
i94mode                1
i94addr               TX
dep_yyyymmdd    20160605
i94bir                33
i94visa                2
i94count               1
matflag                M
biryear             1983
gender                 F
airline               UA
fltno              00872
visatype              WT
Name: 25, dtype: object
row = cicid            3669540
i94cit               129
i94res               585
i94port              BAL
arr_yyyymmdd    20160420
i94mode                1
i94addr             None
dep_yyyymmdd    20160502
i94bir                22
i94visa                2
i94count               1
matflag                M
biryear             1994
gender                 M
airline               WN
fltno              00812
visatype              WT
Name: 26, dtype: object
row = cicid            5070551
i94cit               213
i94res               213
i94port              LOS
arr_yyyymmdd    20160427
i94mode                1
i94addr               CA
dep_yyyymmdd    20160810
i94bir                64
i94visa                2
i94count               1
matflag                M
biryear             1952
gender                 M
airline               QR
fltno              00739
visatype              B2
Name: 27, dtype: object
row = cicid            2006623
i94cit               135
i94res               135
i94port              ORL
arr_yyyymmdd    20160411
i94mode                1
i94addr               FL
dep_yyyymmdd    20160425
i94bir                17
i94visa                2
i94count               1
matflag                M
biryear             1999
gender                 M
airline               VS
fltno              00075
visatype              WT
Name: 28, dtype: object
row = cicid            2826530
i94cit               582
i94res               582
i94port              SNJ
arr_yyyymmdd    20160415
i94mode                1
i94addr               CA
dep_yyyymmdd    20160417
i94bir                42
i94visa                2
i94count               1
matflag                M
biryear             1974
gender                 F
airline               Y4
fltno              00930
visatype              B2
Name: 29, dtype: object
row = cicid            5692439
i94cit               133
i94res               264
i94port              HOU
arr_yyyymmdd    20160430
i94mode                1
i94addr               NV
dep_yyyymmdd    20160506
i94bir                41
i94visa                1
i94count               1
matflag                M
biryear             1975
gender                 M
airline               TK
fltno              00033
visatype              B1
Name: 30, dtype: object
row = cicid            5835717
i94cit               582
i94res               582
i94port              DET
arr_yyyymmdd    20160430
i94mode                1
i94addr               FL
dep_yyyymmdd    20160507
i94bir                35
i94visa                2
i94count               1
matflag                M
biryear             1981
gender                 F
airline               AA
fltno              01498
visatype              B2
Name: 31, dtype: object
row = cicid            2752883
i94cit               373
i94res               509
i94port              DET
arr_yyyymmdd    20160415
i94mode                1
i94addr               NY
dep_yyyymmdd    20160418
i94bir                34
i94visa                2
i94count               1
matflag                M
biryear             1982
gender                 M
airline               AA
fltno              01428
visatype              B2
Name: 32, dtype: object
row = cicid             239999
i94cit               126
i94res               324
i94port              FTL
arr_yyyymmdd    20160402
i94mode                1
i94addr               NY
dep_yyyymmdd    20160407
i94bir                16
i94visa                2
i94count               1
matflag                M
biryear             2000
gender                 F
airline               IB
fltno              06253
visatype              WT
Name: 33, dtype: object
row = cicid            4805034
i94cit               582
i94res               582
i94port              HOU
arr_yyyymmdd    20160425
i94mode                1
i94addr               PA
dep_yyyymmdd    20160429
i94bir                40
i94visa                1
i94count               1
matflag                M
biryear             1976
gender                 F
airline               UA
fltno              01085
visatype              B1
Name: 34, dtype: object
row = cicid            6055103
i94cit               252
i94res               209
i94port              AGA
arr_yyyymmdd    20160428
i94mode                1
i94addr               GU
dep_yyyymmdd    20160503
i94bir                27
i94visa                2
i94count               1
matflag                M
biryear             1989
gender                 M
airline               TW
fltno              00311
visatype             GMT
Name: 35, dtype: object
row = cicid            2495693
i94cit               117
i94res               117
i94port              NYC
arr_yyyymmdd    20160414
i94mode                1
i94addr               FL
dep_yyyymmdd    20160416
i94bir                34
i94visa                1
i94count               1
matflag                M
biryear             1982
gender              None
airline               S3
fltno              01515
visatype              WB
Name: 36, dtype: object
row = cicid            2929149
i94cit               213
i94res               213
i94port              LVG
arr_yyyymmdd    20160416
i94mode                1
i94addr               NC
dep_yyyymmdd    20160629
i94bir                61
i94visa                2
i94count               1
matflag                M
biryear             1955
gender                 M
airline               LH
fltno              00428
visatype              B2
Name: 37, dtype: object
row = cicid            4462449
i94cit               689
i94res               689
i94port              ORL
arr_yyyymmdd    20160423
i94mode                1
i94addr               FL
dep_yyyymmdd    20160506
i94bir                26
i94visa                2
i94count               1
matflag                M
biryear             1990
gender                 F
airline               DL
fltno              00196
visatype              B2
Name: 38, dtype: object
row = cicid             800571
i94cit               687
i94res               687
i94port              PSP
arr_yyyymmdd    20160404
i94mode                1
i94addr               FL
dep_yyyymmdd    20160426
i94bir                56
i94visa                2
i94count               1
matflag                M
biryear             1960
gender                 M
airline               AR
fltno              01304
visatype              B2
Name: 39, dtype: object
row = cicid             692716
i94cit               245
i94res               245
i94port              NEW
arr_yyyymmdd    20160404
i94mode                1
i94addr               NJ
dep_yyyymmdd    20160716
i94bir                32
i94visa                1
i94count               1
matflag                M
biryear             1984
gender                 M
airline               CA
fltno              00819
visatype              B1
Name: 40, dtype: object
row = cicid            5472659
i94cit               209
i94res               209
i94port              NEW
arr_yyyymmdd    20160429
i94mode                1
i94addr               NY
dep_yyyymmdd    20160505
i94bir                 8
i94visa                2
i94count               1
matflag                M
biryear             2008
gender                 M
airline               UA
fltno              00078
visatype              WT
Name: 41, dtype: object
row = cicid             999282
i94cit               129
i94res               129
i94port              MIA
arr_yyyymmdd    20160406
i94mode                1
i94addr               FL
dep_yyyymmdd    20160409
i94bir                59
i94visa                1
i94count               1
matflag                M
biryear             1957
gender                 M
airline               AM
fltno              00428
visatype              WB
Name: 42, dtype: object
row = cicid            2572618
i94cit               528
i94res               528
i94port              MIA
arr_yyyymmdd    20160414
i94mode                1
i94addr               FL
dep_yyyymmdd    20160418
i94bir                38
i94visa                2
i94count               1
matflag                M
biryear             1978
gender                 M
airline               AA
fltno              01504
visatype              B2

row = cicid             688605
i94cit               213
i94res               213
i94port              EPI
arr_yyyymmdd    20160404
i94mode                3
i94addr               WA
dep_yyyymmdd    20160405
i94bir                40
i94visa                1
i94count               1
matflag                M
biryear             1976
gender                 M
airline             None
fltno               LAND
visatype              B1
Name: 170, dtype: object
row = cicid            1379698
i94cit               135
i94res               135
i94port              ORL
arr_yyyymmdd    20160408
i94mode                1
i94addr               FL
dep_yyyymmdd    20160422
i94bir                52
i94visa                2
i94count               1
matflag                M
biryear             1964
gender                 M
airline               VS
fltno              00071
visatype              WT
Name: 171, dtype: object
row = cicid            1396100
i94cit               209
i94res               209
i94port              HHW
arr_yyyymmdd    20160408
i94mode                1
i94addr               HI
dep_yyyymmdd    20160412
i94bir                46
i94visa                2
i94count               1
matflag                M
biryear             1970
gender                 F
airline               NH
fltno              00184
visatype              WT
Name: 172, dtype: object
row = cicid            2711123
i94cit               148
i94res               112
i94port              NEW
arr_yyyymmdd    20160415
i94mode                1
i94addr               CA
dep_yyyymmdd    20160503
i94bir                56
i94visa                2
i94count               1
matflag                M
biryear             1960
gender                 F
airline               LH
fltno              00408
visatype              WT
Name: 173, dtype: object
row = cicid            3636229
i94cit               687
i94res               687
i94port              LOS
arr_yyyymmdd    20160419
i94mode                1
i94addr               FL
dep_yyyymmdd    20160506
i94bir                84
i94visa                2
i94count               1
matflag                M
biryear             1932
gender                 F
airline               AR
fltno              01302
visatype              B2
Name: 174, dtype: object
row = cicid            6058513
i94cit               252
i94res               209
i94port              SAI
arr_yyyymmdd    20160428
i94mode                1
i94addr             None
dep_yyyymmdd    20160502
i94bir                71
i94visa                2
i94count               1
matflag                M
biryear             1945
gender                 F
airline               DL
fltno              00298
visatype             GMT
Name: 175, dtype: object
row = cicid            2343856
i94cit               164
i94res               164
i94port              LVG
arr_yyyymmdd    20160413
i94mode                1
i94addr               NV
dep_yyyymmdd    20160430
i94bir                45
i94visa                2
i94count               1
matflag                M
biryear             1971
gender                 M
airline               WK
fltno              00006
visatype              B2
Name: 176, dtype: object
row = cicid            5492918
i94cit               213
i94res               213
i94port              PHI
arr_yyyymmdd    20160429
i94mode                1
i94addr               PA
dep_yyyymmdd    20160502
i94bir                17
i94visa                2
i94count               1
matflag                M
biryear             1999
gender                 M
airline               LH
fltno              00426
visatype              B2
Name: 177, dtype: object
row = cicid            4866976
i94cit               126
i94res               126
i94port              NEW
arr_yyyymmdd    20160426
i94mode                1
i94addr               NY
dep_yyyymmdd    20160507
i94bir                26
i94visa                2
i94count               1
matflag                M
biryear             1990
gender                 F
airline               UA
fltno              00065
visatype              WT
Name: 178, dtype: object
row = cicid            3507228
i94cit               135
i94res               135
i94port              NYC
arr_yyyymmdd    20160419
i94mode                1
i94addr               NY
dep_yyyymmdd    20160423
i94bir                23
i94visa                2
i94count               1
matflag                M
biryear             1993
gender                 M
airline               VS
fltno              00025
visatype              WT
Name: 179, dtype: object
row = cicid            4526989
i94cit               209
i94res               209
i94port              CHI
arr_yyyymmdd    20160424
i94mode                1
i94addr               TN
dep_yyyymmdd    20160428
i94bir                48
i94visa                2
i94count               1
matflag                M
biryear             1968
gender                 M
airline               JL
fltno              00010
visatype              WT
Name: 180, dtype: object
row = cicid            1496112
i94cit               582
i94res               582
i94port              FTL
arr_yyyymmdd    20160408
i94mode                1
i94addr               TX
dep_yyyymmdd    20160703
i94bir                66
i94visa                2
i94count               1
matflag                M
biryear             1950
gender                 F
airline               AM
fltno              02682
visatype              B2
Name: 181, dtype: object
row = cicid            5062245
i94cit               209
i94res               209
i94port              LOS
arr_yyyymmdd    20160427
i94mode                1
i94addr               CA
dep_yyyymmdd    20160502
i94bir                42
i94visa                2
i94count               1
matflag                M
biryear             1974
gender                 M
airline               AA
fltno              00026
visatype              WT
Name: 182, dtype: object
row = cicid            5016696
i94cit               111
i94res               111
i94port              NYC
arr_yyyymmdd    20160427
i94mode                1
i94addr               NY
dep_yyyymmdd    20160501
i94bir                36
i94visa                2
i94count               1
matflag                M
biryear             1980
gender                 F
airline               SE
fltno              00030
visatype              WT
Name: 183, dtype: object
row = cicid            3106766
i94cit               123
i94res               123
i94port              MIA
arr_yyyymmdd    20160417
i94mode                1
i94addr               FL
dep_yyyymmdd    20160420
i94bir                57
i94visa                2
i94count               1
matflag                M
biryear             1959
gender              None
airline               BW
fltno              00484
visatype              WT
Name: 184, dtype: object
row = cicid            2489526
i94cit               111
i94res               251
i94port              LOS
arr_yyyymmdd    20160414
i94mode                1
i94addr               CA
dep_yyyymmdd    20160507
i94bir                32
i94visa                2
i94count               1
matflag                M
biryear             1984
gender                 M
airline               IB
fltno              06171
visatype              WT
Name: 185, dtype: object
row = cicid             687285
i94cit               213
i94res               131
i94port              NEW
arr_yyyymmdd    20160404
i94mode                1
i94addr               OH
dep_yyyymmdd    20160415
i94bir                42
i94visa                1
i94count               1
matflag                M
biryear             1974
gender                 M
airline               LH
fltno              00402
visatype              B1
Name: 186, dtype: object
row = cicid            4874583
i94cit               135
i94res               135
i94port              NYC
arr_yyyymmdd    20160426
i94mode                1
i94addr               NE
dep_yyyymmdd    20160506
i94bir                57
i94visa                2
i94count               1
matflag                M
biryear             1959
gender                 F
airline               VS
fltno              00111
visatype              WT
Name: 187, dtype: object
row = cicid             512308
i94cit               263
i94res               263
i94port              NYC
arr_yyyymmdd    20160403
i94mode                1
i94addr               CT
dep_yyyymmdd    20160413
i94bir                66
i94visa                2
i94count               1
matflag                M
biryear             1950
gender                 F
airline               CX
fltno              00846
visatype              B2
Name: 188, dtype: object
row = cicid            4024419
i94cit               691
i94res               691
i94port              NYC
arr_yyyymmdd    20160421
i94mode                1
i94addr               NJ
dep_yyyymmdd    20160615
i94bir                57
i94visa                2
i94count               1
matflag                M
biryear             1959
gender                 F
airline               AV
fltno              00244
visatype              B2
Name: 189, dtype: object
row = cicid            3076465
i94cit               692
i94res               692
i94port              NYC
arr_yyyymmdd    20160416
i94mode                1
i94addr               CT
dep_yyyymmdd    20160918
i94bir                67
i94visa                2
i94count               1
matflag                M
biryear             1949
gender                 F
airline               EQ
fltno              00550
visatype              B2
Name: 190, dtype: object
row = cicid            3475529
i94cit               689
i94res               689
i94port              MIA
arr_yyyymmdd    20160418
i94mode                1
i94addr               FL
dep_yyyymmdd    20160426
i94bir                30
i94visa                2
i94count               1
matflag                M
biryear             1986
gender                 F
airline               JJ
fltno              08094
visatype              B2
Name: 191, dtype: object
row = cicid            1217552
i94cit               251
i94res               251
i94port              NYC
arr_yyyymmdd    20160407
i94mode                1
i94addr               NY
dep_yyyymmdd    20160504
i94bir                22
i94visa                2
i94count               1
matflag                M
biryear             1994
gender                 F
airline               SU
fltno              00100
visatype              B2
Name: 192, dtype: object
row = cicid            2353538
i94cit               213
i94res               213
i94port              ATL
arr_yyyymmdd    20160413
i94mode                1
i94addr               NJ
dep_yyyymmdd    20160418
i94bir                18
i94visa                2
i94count               1
matflag                M
biryear             1998
gender                 F
airline               AI
fltno              00191
visatype              B2
Name: 193, dtype: object
row = cicid            3554693
i94cit               464
i94res               464
i94port              BLA
arr_yyyymmdd    20160419
i94mode                3
i94addr               WA
dep_yyyymmdd    20160420
i94bir                24
i94visa                2
i94count               1
matflag                M
biryear             1992
gender                 F
airline             None
fltno               LAND
visatype              B2
Name: 194, dtype: object
row = cicid            2023436
i94cit               209
i94res               209
i94port              HHW
arr_yyyymmdd    20160411
i94mode                1
i94addr               HI
dep_yyyymmdd    20160416
i94bir                55
i94visa                2
i94count               1
matflag                M
biryear             1961
gender                 M
airline               DL
fltno              00598
visatype              WT
Name: 195, dtype: object
row = cicid            5032473
i94cit               129
i94res               129
i94port              CHI
arr_yyyymmdd    20160427
i94mode                1
i94addr               IL
dep_yyyymmdd    20160428
i94bir                48
i94visa                2
i94count               1
matflag                M
biryear             1968
gender                 M
airline               IB
fltno              06275
visatype              WT
Name: 196, dtype: object
row = cicid            4912411
i94cit               251
i94res               251
i94port              SFR
arr_yyyymmdd    20160426
i94mode                1
i94addr               CA
dep_yyyymmdd    20160506
i94bir                12
i94visa                2
i94count               1
matflag                M
biryear             2004
gender                 M
airline               UA
fltno              00955
visatype              B2
Name: 197, dtype: object
row = cicid            5014510
i94cit               107
i94res               107
i94port              SNA
arr_yyyymmdd    20160427
i94mode                2
i94addr             None
dep_yyyymmdd    20160508
i94bir                31
i94visa                1
i94count               1
matflag                M
biryear             1985
gender                 M
airline              VES
fltno              92181
visatype              B1
Name: 198, dtype: object
row = cicid            2489005
i94cit               111
i94res               111
i94port              MON
arr_yyyymmdd    20160414
i94mode                1
i94addr               IL
dep_yyyymmdd    20160421
i94bir                27
i94visa                2
i94count               1
matflag                M
biryear             1989
gender                 M
airline               RS
fltno              07599
visatype              WT
Name: 199, dtype: object
row = cicid            1936298
i94cit               582
i94res               582
i94port              DLR
arr_yyyymmdd    20160410
i94mode                1
i94addr               TX
dep_yyyymmdd    20160413
i94bir                30
i94visa                1
i94count               1
matflag                M
biryear             1986
gender                 M
airline              *GA
fltno              N104B
visatype              B1
Name: 200, dtype: object
row = cicid             997142
i94cit               124
i94res               124
i94port              NEW
arr_yyyymmdd    20160406
i94mode                1
i94addr               NY
dep_yyyymmdd    20160410
i94bir                45
i94visa                2
i94count               1
matflag                M
biryear             1971
gender                 M
airline               SK
fltno              00907
visatype              WT
Name: 201, dtype: object
row = cicid             864073
i94cit               213
i94res               213
i94port              SFR
arr_yyyymmdd    20160405
i94mode                1
i94addr               CA
dep_yyyymmdd    20160409
i94bir                47
i94visa                1
i94count               1
matflag                M
biryear             1969
gender                 M
airline               KL
fltno              00605
visatype              B1
Name: 202, dtype: object
row = cicid            5644410
i94cit               687
i94res               691
i94port              LOS
arr_yyyymmdd    20160429
i94mode                1
i94addr               KS
dep_yyyymmdd    20160510
i94bir                31
i94visa                1
i94count               1
matflag                M
biryear             1985
gender                 F
airline               UA
fltno              01069
visatype              B1
Name: 203, dtype: object
row = cicid            5881744
i94cit               602
i94res               602
i94port              MIA
arr_yyyymmdd    20160430
i94mode                1
i94addr               FL
dep_yyyymmdd    20160504
i94bir                28
i94visa                2
i94count               1
matflag                M
biryear             1988
gender                 M
airline               PY
fltno              00421
visatype              B2
Name: 204, dtype: object
row = cicid            2615091
i94cit               577
i94res               577
i94port              MIA
arr_yyyymmdd    20160414
i94mode                1
i94addr               FL
dep_yyyymmdd    20160505
i94bir                56
i94visa                2
i94count               1
matflag                M
biryear             1960
gender                 F
airline               AV
fltno              00342
visatype              B2
Name: 205, dtype: object
row = cicid            3649436
i94cit               746
i94res               158
i94port              NYC
arr_yyyymmdd    20160419
i94mode                1
i94addr               NY
dep_yyyymmdd    20160506
i94bir                27
i94visa                2
i94count               1
matflag                M
biryear             1989
gender                 F
airline               SU
fltno              00100
visatype              B2
Name: 206, dtype: object
row = cicid              25478
i94cit               131
i94res               131
i94port              NYC
arr_yyyymmdd    20160401
i94mode                1
i94addr               NY
dep_yyyymmdd    20160628
i94bir                68
i94visa                2
i94count               1
matflag                M
biryear             1948
gender                 F
airline               LX
fltno              00014
visatype              WT
Name: 207, dtype: object
row = cicid            1604063
i94cit               135
i94res               135
i94port              MIA
arr_yyyymmdd    20160409
i94mode                1
i94addr               FL
dep_yyyymmdd    20160410
i94bir                48
i94visa                2
i94count               1
matflag                M
biryear             1968
gender                 M
airline               AA
fltno              01250
visatype              WT
Name: 208, dtype: object
row = cicid            5000485
i94cit               687
i94res               687
i94port              MIA
arr_yyyymmdd    20160426
i94mode                1
i94addr               FL
dep_yyyymmdd    20160505
i94bir                72
i94visa                2
i94count               1
matflag                M
biryear             1944
gender                 M
airline               AA
fltno              02422
visatype              B2
Name: 209, dtype: object
row = cicid            5034128
i94cit               130
i94res               130
i94port              NYC
arr_yyyymmdd    20160427
i94mode                1
i94addr               NY
dep_yyyymmdd    20160502
i94bir                32
i94visa                2
i94count               1
matflag                M
biryear             1984
gender                 F
airline               DY
fltno              07015
visatype              WT
Name: 210, dtype: object
row = cicid            2755321
i94cit               438
i94res               438
i94port              LOS
arr_yyyymmdd    20160415
i94mode                1
i94addr               CA
dep_yyyymmdd    20160424
i94bir                29
i94visa                2
i94count               1
matflag                M
biryear             1987
gender              None
airline               UA
fltno              01653
visatype              WT
Name: 211, dtype: object
row = cicid            5136021
i94cit               582
i94res               582
i94port              MIA
arr_yyyymmdd    20160427
i94mode                1
i94addr               FL
dep_yyyymmdd    20160525
i94bir                44
i94visa                1
i94count               1
matflag                M
biryear             1972
gender                 M
airline               4O
fltno               2960
visatype              B1
Name: 212, dtype: object
row = cicid            3664296
i94cit               117
i94res               689
i94port              FTL
arr_yyyymmdd    20160420
i94mode                1
i94addr               FL
dep_yyyymmdd    20160424
i94bir                30
i94visa                2
i94count               1
matflag                M
biryear             1986
gender              None
airline               AD

Name: 338, dtype: object
row = cicid            4494327
i94cit               124
i94res               124
i94port              NYC
arr_yyyymmdd    20160424
i94mode                1
i94addr               NY
dep_yyyymmdd    20160501
i94bir                38
i94visa                2
i94count               1
matflag                M
biryear             1978
gender                 F
airline               DY
fltno              07001
visatype              WT
Name: 339, dtype: object
row = cicid            1143832
i94cit               689
i94res               689
i94port              MIA
arr_yyyymmdd    20160406
i94mode                1
i94addr               MA
dep_yyyymmdd    20160416
i94bir                33
i94visa                2
i94count               1
matflag                M
biryear             1983
gender                 F
airline               AA
fltno              00274
visatype              B2
Name: 340, dtype: object
row = cicid            4267184
i94cit               117
i94res               129
i94port              NYC
arr_yyyymmdd    20160423
i94mode                1
i94addr               NY
dep_yyyymmdd    20160512
i94bir                44
i94visa                2
i94count               1
matflag                M
biryear             1972
gender                 F
airline               AA
fltno                 95
visatype              WT
Name: 341, dtype: object
row = cicid            1026490
i94cit               209
i94res               209
i94port              DET
arr_yyyymmdd    20160406
i94mode                1
i94addr               HI
dep_yyyymmdd    20160414
i94bir                66
i94visa                2
i94count               1
matflag                M
biryear             1950
gender                 F
airline               JL
fltno              00786
visatype              WT
Name: 342, dtype: object
row = cicid            4487041
i94cit               117
i94res               117
i94port              LOS
arr_yyyymmdd    20160424
i94mode                1
i94addr               CA
dep_yyyymmdd    20160505
i94bir                67
i94visa                2
i94count               1
matflag                M
biryear             1949
gender                 M
airline               BA
fltno              00283
visatype              WT
Name: 343, dtype: object
row = cicid            1339481
i94cit               691
i94res               691
i94port              NYC
arr_yyyymmdd    20160407
i94mode                1
i94addr               NY
dep_yyyymmdd    20160502
i94bir                71
i94visa                2
i94count               1
matflag                M
biryear             1945
gender              None
airline               AV
fltno              00020
visatype              B2
Name: 344, dtype: object
row = cicid            5693192
i94cit               135
i94res               135
i94port              ATL
arr_yyyymmdd    20160430
i94mode                1
i94addr               FL
dep_yyyymmdd    20160505
i94bir                52
i94visa                2
i94count               1
matflag                M
biryear             1964
gender                 F
airline               VS
fltno              00109
visatype              WT
Name: 345, dtype: object
row = cicid            1002291
i94cit               131
i94res               131
i94port              NEW
arr_yyyymmdd    20160406
i94mode                1
i94addr               NY
dep_yyyymmdd    20160421
i94bir                15
i94visa                2
i94count               1
matflag                M
biryear             2001
gender                 M
airline               LX
fltno              00018
visatype              WT
Name: 346, dtype: object
row = cicid            3905922
i94cit               268
i94res               268
i94port              HOU
arr_yyyymmdd    20160421
i94mode                3
i94addr             None
dep_yyyymmdd    20160423
i94bir                59
i94visa                2
i94count               1
matflag                M
biryear             1957
gender                 M
airline             None
fltno              00066
visatype              B2
Name: 347, dtype: object
row = cicid            1991822
i94cit               124
i94res               124
i94port              NEW
arr_yyyymmdd    20160411
i94mode                1
i94addr               LA
dep_yyyymmdd    20160422
i94bir                63
i94visa                2
i94count               1
matflag                M
biryear             1953
gender                 F
airline               SK
fltno              00907
visatype              WT
Name: 348, dtype: object
row = cicid            1046737
i94cit               263
i94res               263
i94port              PBB
arr_yyyymmdd    20160406
i94mode                3
i94addr               CA
dep_yyyymmdd    20160415
i94bir                57
i94visa                2
i94count               1
matflag                M
biryear             1959
gender                 F
airline             None
fltno              00028
visatype              B2
Name: 349, dtype: object
row = cicid            3085571
i94cit               111
i94res               111
i94port              ATL
arr_yyyymmdd    20160417
i94mode                1
i94addr               CA
dep_yyyymmdd    20160419
i94bir                32
i94visa                1
i94count               1
matflag                M
biryear             1984
gender                 F
airline               AF
fltno              00688
visatype              WB
Name: 350, dtype: object
row = cicid            2011700
i94cit               135
i94res               135
i94port              LOS
arr_yyyymmdd    20160411
i94mode                1
i94addr               CA
dep_yyyymmdd    20160428
i94bir                64
i94visa                2
i94count               1
matflag                M
biryear             1952
gender              None
airline               BA
fltno              00283
visatype              WT
Name: 351, dtype: object
row = cicid            1173719
i94cit               130
i94res               130
i94port              NEW
arr_yyyymmdd    20160407
i94mode                1
i94addr               NY
dep_yyyymmdd    20160410
i94bir                27
i94visa                2
i94count               1
matflag                M
biryear             1989
gender                 F
airline               SK
fltno              00903
visatype              WT
Name: 352, dtype: object
row = cicid             715185
i94cit               516
i94res               516
i94port              ORL
arr_yyyymmdd    20160404
i94mode                1
i94addr               FL
dep_yyyymmdd    20160408
i94bir                83
i94visa                2
i94count               1
matflag                M
biryear             1933
gender                 M
airline               BW
fltno              00482
visatype              B2
Name: 353, dtype: object
row = cicid            5963414
i94cit               245
i94res               245
i94port              SAI
arr_yyyymmdd    20160409
i94mode                1
i94addr             None
dep_yyyymmdd    20160411
i94bir                44
i94visa                2
i94count               1
matflag                M
biryear             1972
gender                 F
airline               3U
fltno              08645
visatype              CP
Name: 354, dtype: object
row = cicid            1858517
i94cit               268
i94res               268
i94port              SFR
arr_yyyymmdd    20160410
i94mode                1
i94addr               CA
dep_yyyymmdd    20160706
i94bir                25
i94visa                2
i94count               1
matflag                M
biryear             1991
gender                 F
airline               UA
fltno              00872
visatype              WT
Name: 355, dtype: object
row = cicid            6057910
i94cit               252
i94res               209
i94port              AGA
arr_yyyymmdd    20160430
i94mode                1
i94addr               GU
dep_yyyymmdd    20160504
i94bir                49
i94visa                2
i94count               1
matflag                M
biryear             1967
gender                 M
airline               UA
fltno              00827
visatype             GMT
Name: 356, dtype: object
row = cicid            5980604
i94cit               254
i94res               276
i94port              CHI
arr_yyyymmdd    20160409
i94mode                1
i94addr               GU
dep_yyyymmdd    20160413
i94bir                28
i94visa                2
i94count               1
matflag                M
biryear             1988
gender                 M
airline               7C
fltno              03102
visatype             GMT
Name: 357, dtype: object
row = cicid            5653283
i94cit               692
i94res               692
i94port              MIA
arr_yyyymmdd    20160429
i94mode                1
i94addr               FL
dep_yyyymmdd    20160513
i94bir                62
i94visa                2
i94count               1
matflag                M
biryear             1954
gender                 F
airline               AA
fltno              00948
visatype              B2
Name: 358, dtype: object
row = cicid            4697112
i94cit               135
i94res               135
i94port              NEW
arr_yyyymmdd    20160425
i94mode                1
i94addr               CA
dep_yyyymmdd    20160507
i94bir                66
i94visa                2
i94count               1
matflag                M
biryear             1950
gender                 M
airline               UA
fltno              00080
visatype              WT
Name: 359, dtype: object
row = cicid            4116633
i94cit               438
i94res               438
i94port              SFR
arr_yyyymmdd    20160422
i94mode                1
i94addr               CA
dep_yyyymmdd    20160509
i94bir                24
i94visa                2
i94count               1
matflag                M
biryear             1992
gender                 M
airline               QF
fltno              00073
visatype              WT
Name: 360, dtype: object
row = cicid             685207
i94cit               209
i94res               209
i94port              LOS
arr_yyyymmdd    20160404
i94mode                1
i94addr               FL
dep_yyyymmdd    20160410
i94bir                20
i94visa                2
i94count               1
matflag                M
biryear             1996
gender                 F
airline               DL
fltno              00284
visatype              WT
Name: 361, dtype: object
row = cicid            2053904
i94cit               438
i94res               438
i94port              LOS
arr_yyyymmdd    20160411
i94mode                1
i94addr               NY
dep_yyyymmdd    20160425
i94bir                52
i94visa                2
i94count               1
matflag                M
biryear             1964
gender                 M
airline               QF
fltno              00011
visatype              WT
Name: 362, dtype: object
row = cicid            5243784
i94cit               135
i94res               135
i94port              SFR
arr_yyyymmdd    20160428
i94mode                1
i94addr               SW
dep_yyyymmdd    20160430
i94bir                53
i94visa                1
i94count               1
matflag                M
biryear             1963
gender                 M
airline               VS
fltno              0019C
visatype              B1
Name: 363, dtype: object
row = cicid            3886516
i94cit               213
i94res               213
i94port              HOU
arr_yyyymmdd    20160421
i94mode                1
i94addr               TX
dep_yyyymmdd    20160614
i94bir                56
i94visa                2
i94count               1
matflag                M
biryear             1960
gender                 M
airline               QR
fltno              00713
visatype              B2
Name: 364, dtype: object
row = cicid            5074129
i94cit               245
i94res               245
i94port              NEW
arr_yyyymmdd    20160427
i94mode                1
i94addr               IN
dep_yyyymmdd    20160517
i94bir                52
i94visa                2
i94count               1
matflag                M
biryear             1964
gender                 M
airline               UA
fltno              00088
visatype              B2
Name: 365, dtype: object
row = cicid            4082575
i94cit               209
i94res               209
i94port              HHW
arr_yyyymmdd    20160422
i94mode                1
i94addr               HI
dep_yyyymmdd    20160425
i94bir                73
i94visa                2
i94count               1
matflag                M
biryear             1943
gender                 M
airline               HA
fltno              00458
visatype              WT
Name: 366, dtype: object
row = cicid            1851628
i94cit               254
i94res               276
i94port              HHW
arr_yyyymmdd    20160410
i94mode                1
i94addr               HI
dep_yyyymmdd    20160414
i94bir                32
i94visa                2
i94count               1
matflag                M
biryear             1984
gender                 M
airline               KE
fltno              00053
visatype              WT
Name: 367, dtype: object
row = cicid            3110964
i94cit               129
i94res               691
i94port              FTL
arr_yyyymmdd    20160416
i94mode                1
i94addr               FL
dep_yyyymmdd    20160419
i94bir                33
i94visa                2
i94count               1
matflag                M
biryear             1983
gender                 F
airline               NK
fltno              00400
visatype              WT
Name: 368, dtype: object
row = cicid            5891340
i94cit               690
i94res               690
i94port              MIA
arr_yyyymmdd    20160430
i94mode                1
i94addr               FL
dep_yyyymmdd    20160719
i94bir                65
i94visa                2
i94count               1
matflag                M
biryear             1951
gender                 F
airline               CM
fltno              00226
visatype              WT
Name: 369, dtype: object
row = cicid            1553590
i94cit               692
i94res               692
i94port              MIA
arr_yyyymmdd    20160407
i94mode                1
i94addr               FL
dep_yyyymmdd    20160411
i94bir                72
i94visa                2
i94count               1
matflag                M
biryear             1944
gender                 F
airline               AA
fltno              00902
visatype              B2
Name: 370, dtype: object
row = cicid            1577711
i94cit               117
i94res               131
i94port              NYC
arr_yyyymmdd    20160409
i94mode                1
i94addr               NY
dep_yyyymmdd    20160416
i94bir                18
i94visa                2
i94count               1
matflag                M
biryear             1998
gender                 F
airline               AB
fltno              07450
visatype              WT
Name: 371, dtype: object
row = cicid             867033
i94cit               218
i94res               218
i94port              LOS
arr_yyyymmdd    20160405
i94mode                1
i94addr               NV
dep_yyyymmdd    20160415
i94bir                52
i94visa                2
i94count               1
matflag                M
biryear             1964
gender                 M
airline               BA
fltno              00283
visatype              B2
Name: 372, dtype: object
row = cicid            2520663
i94cit               135
i94res               135
i94port              ORL
arr_yyyymmdd    20160414
i94mode                1
i94addr               FL
dep_yyyymmdd    20160417
i94bir                52
i94visa                1
i94count               1
matflag                M
biryear             1964
gender              None
airline               BA
fltno              02037
visatype              WB
Name: 373, dtype: object
row = cicid            5710005
i94cit               148
i94res               112
i94port              NEW
arr_yyyymmdd    20160430
i94mode                1
i94addr               NY
dep_yyyymmdd    20160508
i94bir                55
i94visa                2
i94count               1
matflag                M
biryear             1961
gender                 M
airline               LH
fltno              00402
visatype              WT
Name: 374, dtype: object
row = cicid            3542252
i94cit               254
i94res               276
i94port              HHW
arr_yyyymmdd    20160419
i94mode                1
i94addr               HI
dep_yyyymmdd    20160423
i94bir                52
i94visa                2
i94count               1
matflag                M
biryear             1964
gender                 M
airline               KE
fltno              00053
visatype              WT
Name: 375, dtype: object
row = cicid            5679004
i94cit               123
i94res               123
i94port              NEW
arr_yyyymmdd    20160430
i94mode                1
i94addr               NY
dep_yyyymmdd    20160505
i94bir                13
i94visa                2
i94count               1
matflag                M
biryear             2003
gender                 M
airline               UA
fltno              00071
visatype              WT
Name: 376, dtype: object
row = cicid            1649166
i94cit               438
i94res               438
i94port              LOS
arr_yyyymmdd    20160409
i94mode                1
i94addr               NJ
dep_yyyymmdd    20160416
i94bir                55
i94visa                2
i94count               1
matflag                M
biryear             1961
gender                 M
airline               UA
fltno              00840
visatype              WT
Name: 377, dtype: object
row = cicid            2209939
i94cit               332
i94res               296
i94port              NYC
arr_yyyymmdd    20160412
i94mode                1
i94addr               NY
dep_yyyymmdd    20160423
i94bir                 5
i94visa                2
i94count               1
matflag                M
biryear             2011
gender                 M
airline               EK
fltno              00203
visatype              B2
Name: 378, dtype: object
row = cicid             467207
i94cit               135
i94res               135
i94port              LOS
arr_yyyymmdd    20160403
i94mode                1
i94addr               CA
dep_yyyymmdd    20160406
i94bir                36
i94visa                2
i94count               1
matflag                M
biryear             1980
gender                 M
airline               UA
fltno              00935
visatype              WT
Name: 379, dtype: object
row = cicid            5832309
i94cit               582
i94res               582
i94port              SFR
arr_yyyymmdd    20160430
i94mode                1
i94addr               CO
dep_yyyymmdd    20160604
i94bir                81
i94visa                2
i94count               1
matflag                M
biryear             1935
gender                 F
airline               Y4
fltno              00982
visatype              B2
Name: 380, dtype: object
row = cicid            5301075
i94cit               513
i94res               513
i94port              TOR
arr_yyyymmdd    20160428
i94mode                1
i94addr               IL
dep_yyyymmdd    20160429
i94bir                46
i94visa                2
i94count               1
matflag                M
biryear             1970
gender                 F
airline               MQ
fltno              03348
visatype              B2
Name: 381, dtype: object
row = cicid            3866997
i94cit               135
i94res               135
i94port              SFR
arr_yyyymmdd    20160421
i94mode                1
i94addr               CA
dep_yyyymmdd    20160504
i94bir                25
i94visa                2
i94count               1
matflag                M
biryear             1991
gender                 F

row = cicid            3599914
i94cit               582
i94res               582
i94port              WAS
arr_yyyymmdd    20160419
i94mode                1
i94addr               MI
dep_yyyymmdd    20160423
i94bir                30
i94visa                1
i94count               1
matflag                M
biryear             1986
gender                 M
airline               UA
fltno              01567
visatype              B1
Name: 513, dtype: object
row = cicid            1434452
i94cit               516
i94res               516
i94port              MIA
arr_yyyymmdd    20160408
i94mode                1
i94addr               NC
dep_yyyymmdd    20160422
i94bir                71
i94visa                2
i94count               1
matflag                M
biryear             1945
gender                 M
airline               AA
fltno              02282
visatype              B2
Name: 514, dtype: object
row = cicid             494733
i94cit               213
i94res               213
i94port              SFR
arr_yyyymmdd    20160403
i94mode                1
i94addr               CA
dep_yyyymmdd    20160515
i94bir                32
i94visa                3
i94count               1
matflag                M
biryear             1984
gender                 F
airline               VS
fltno                 41
visatype              F1
Name: 515, dtype: object
row = cicid            2038184
i94cit               245
i94res               245
i94port              SFR
arr_yyyymmdd    20160411
i94mode                1
i94addr               CA
dep_yyyymmdd    20160426
i94bir                50
i94visa                2
i94count               1
matflag                M
biryear             1966
gender                 F
airline               MU
fltno              00589
visatype              B2
Name: 516, dtype: object
row = cicid            2865787
i94cit               691
i94res               691
i94port              DAL
arr_yyyymmdd    20160415
i94mode                1
i94addr               NV
dep_yyyymmdd    20160422
i94bir                69
i94visa                1
i94count               1
matflag                M
biryear             1947
gender                 M
airline               AA
fltno              01122
visatype              B1
Name: 517, dtype: object
row = cicid            2107301
i94cit               582
i94res               582
i94port              MIA
arr_yyyymmdd    20160411
i94mode                1
i94addr               GA
dep_yyyymmdd    20160414
i94bir                44
i94visa                1
i94count               1
matflag                M
biryear             1972
gender                 M
airline               DL
fltno              00366
visatype              B1
Name: 518, dtype: object
row = cicid            5688796
i94cit               130
i94res               130
i94port              LOS
arr_yyyymmdd    20160430
i94mode                1
i94addr               NV
dep_yyyymmdd    20160509
i94bir                55
i94visa                1
i94count               1
matflag                M
biryear             1961
gender                 F
airline               SK
fltno              00939
visatype              WB
Name: 519, dtype: object
row = cicid             852513
i94cit               148
i94res               112
i94port              LOS
arr_yyyymmdd    20160405
i94mode                1
i94addr               CA
dep_yyyymmdd    20160407
i94bir                50
i94visa                1
i94count               1
matflag                M
biryear             1966
gender                 M
airline               LH
fltno              00456
visatype              WB
Name: 520, dtype: object
row = cicid            5516452
i94cit               438
i94res               438
i94port              HHW
arr_yyyymmdd    20160429
i94mode                1
i94addr               HI
dep_yyyymmdd    20160506
i94bir                59
i94visa                2
i94count               1
matflag                M
biryear             1957
gender                 F
airline               JQ
fltno              00003
visatype              WT
Name: 521, dtype: object
row = cicid             261165
i94cit               135
i94res               135
i94port              PHO
arr_yyyymmdd    20160402
i94mode                1
i94addr               FL
dep_yyyymmdd    20160409
i94bir                40
i94visa                2
i94count               1
matflag                M
biryear             1976
gender                 M
airline               AA
fltno              00729
visatype              WT
Name: 522, dtype: object
row = cicid            5293311
i94cit               368
i94res               368
i94port              NYC
arr_yyyymmdd    20160428
i94mode                1
i94addr               NY
dep_yyyymmdd    20160509
i94bir                32
i94visa                2
i94count               1
matflag                M
biryear             1984
gender              None
airline               MS
fltno              00985
visatype              B2
Name: 523, dtype: object
row = cicid            2902077
i94cit               135
i94res               135
i94port              ATL
arr_yyyymmdd    20160416
i94mode                1
i94addr               GA
dep_yyyymmdd    20160421
i94bir                38
i94visa                1
i94count               1
matflag                M
biryear             1978
gender                 M
airline               BA
fltno              00227
visatype              WB
Name: 524, dtype: object
row = cicid              38637
i94cit               135
i94res               135
i94port              ORL
arr_yyyymmdd    20160401
i94mode                1
i94addr               FL
dep_yyyymmdd    20160416
i94bir                14
i94visa                2
i94count               1
matflag                M
biryear             2002
gender              None
airline               VS
fltno              00071
visatype              WT
Name: 525, dtype: object
row = cicid             157256
i94cit               582
i94res               582
i94port              LOS
arr_yyyymmdd    20160401
i94mode                1
i94addr               CA
dep_yyyymmdd    20160416
i94bir                46
i94visa                2
i94count               1
matflag                M
biryear             1970
gender                 F
airline               AM
fltno              00642
visatype              B2
Name: 526, dtype: object
row = cicid            1606014
i94cit               148
i94res               112
i94port              DAL
arr_yyyymmdd    20160409
i94mode                1
i94addr               TX
dep_yyyymmdd    20160418
i94bir                50
i94visa                2
i94count               1
matflag                M
biryear             1966
gender              None
airline               LH
fltno              00438
visatype              WT
Name: 527, dtype: object
row = cicid            3849271
i94cit               124
i94res               124
i94port              MIA
arr_yyyymmdd    20160421
i94mode                1
i94addr               FL
dep_yyyymmdd    20160422
i94bir                64
i94visa                2
i94count               1
matflag                M
biryear             1952
gender              None
airline               AA
fltno              01616
visatype              WT
Name: 528, dtype: object
row = cicid            4718538
i94cit               209
i94res               209
i94port              HHW
arr_yyyymmdd    20160425
i94mode                1
i94addr               HI
dep_yyyymmdd    20160430
i94bir                52
i94visa                2
i94count               1
matflag                M
biryear             1964
gender                 F
airline               DL
fltno              00598
visatype              WT
Name: 529, dtype: object
row = cicid            4909999
i94cit               245
i94res               245
i94port              SFR
arr_yyyymmdd    20160426
i94mode                1
i94addr               CA
dep_yyyymmdd    20160724
i94bir                68
i94visa                2
i94count               1
matflag                M
biryear             1948
gender                 M
airline               UA
fltno              00858
visatype              B2
Name: 530, dtype: object
row = cicid            5428448
i94cit               111
i94res               111
i94port              FTL
arr_yyyymmdd    20160429
i94mode                1
i94addr               WA
dep_yyyymmdd    20160505
i94bir                61
i94visa                2
i94count               1
matflag                M
biryear             1955
gender                 M
airline               DL
fltno              00033
visatype              B2
Name: 531, dtype: object
row = cicid            2161628
i94cit               123
i94res               123
i94port              HIG
arr_yyyymmdd    20160412
i94mode                3
i94addr               DC
dep_yyyymmdd    20160416
i94bir                56
i94visa                2
i94count               1
matflag                M
biryear             1960
gender                 M
airline             None
fltno               LAND
visatype              WT
Name: 532, dtype: object
row = cicid            5029772
i94cit               123
i94res               123
i94port              NYC
arr_yyyymmdd    20160427
i94mode                1
i94addr               NE
dep_yyyymmdd    20160513
i94bir                11
i94visa                2
i94count               1
matflag                M
biryear             2005
gender              None
airline               SN
fltno              00501
visatype              WT
Name: 533, dtype: object
row = cicid            1564821
i94cit               111
i94res               111
i94port              WAS
arr_yyyymmdd    20160409
i94mode                1
i94addr               MD
dep_yyyymmdd    20160415
i94bir                72
i94visa                2
i94count               1
matflag                M
biryear             1944
gender                 F
airline               UA
fltno              00914
visatype              WT
Name: 534, dtype: object
row = cicid            4337016
i94cit               268
i94res               268
i94port              LOS
arr_yyyymmdd    20160423
i94mode                1
i94addr               GA
dep_yyyymmdd    20160424
i94bir                37
i94visa                2
i94count               1
matflag                M
biryear             1979
gender                 F
airline               DL
fltno              00962
visatype              WT
Name: 535, dtype: object
row = cicid            1977165
i94cit               111
i94res               111
i94port              ATL
arr_yyyymmdd    20160411
i94mode                1
i94addr               VA
dep_yyyymmdd    20160415
i94bir                48
i94visa                1
i94count               1
matflag                M
biryear             1968
gender                 M
airline               KL
fltno              00621
visatype              WB
Name: 536, dtype: object
row = cicid            3174311
i94cit               257
i94res               257
i94port              HOU
arr_yyyymmdd    20160417
i94mode                1
i94addr               TX
dep_yyyymmdd    20160516
i94bir                46
i94visa                2
i94count               1
matflag                M
biryear             1970
gender                 F
airline               QR
fltno              00713
visatype              B2
Name: 537, dtype: object
row = cicid            2897919
i94cit               129
i94res               129
i94port              NYC
arr_yyyymmdd    20160416
i94mode                1
i94addr               WA
dep_yyyymmdd    20160418
i94bir                47
i94visa                1
i94count               1
matflag                M
biryear             1969
gender              None
airline               DL
fltno              00215
visatype              WB
Name: 538, dtype: object
row = cicid            2869687
i94cit               694
i94res               526
i94port              MIA
arr_yyyymmdd    20160415
i94mode                1
i94addr               OH
dep_yyyymmdd    20160420
i94bir                33
i94visa                2
i94count               1
matflag                M
biryear             1983
gender                 F
airline               AA
fltno              01250
visatype              B2
Name: 539, dtype: object
row = cicid            5451416
i94cit               135
i94res               135
i94port              PHO
arr_yyyymmdd    20160429
i94mode                1
i94addr               NE
dep_yyyymmdd    20160522
i94bir                71
i94visa                2
i94count               1
matflag                M
biryear             1945
gender                 F
airline               VS
fltno              00009
visatype              WT
Name: 540, dtype: object
row = cicid             630827
i94cit               111
i94res               111
i94port              CHM
arr_yyyymmdd    20160404
i94mode                3
i94addr               NY
dep_yyyymmdd    20160407
i94bir                31
i94visa                2
i94count               1
matflag                M
biryear             1985
gender                 M
airline             None
fltno               LAND
visatype              WT
Name: 541, dtype: object
row = cicid            2139998
i94cit               689
i94res               689
i94port              MIA
arr_yyyymmdd    20160411
i94mode                1
i94addr               FL
dep_yyyymmdd    20160420
i94bir                66
i94visa                2
i94count               1
matflag                M
biryear             1950
gender                 M
airline               CM
fltno              00265
visatype              B2
Name: 542, dtype: object
row = cicid            3141666
i94cit               209
i94res               209
i94port              PSP
arr_yyyymmdd    20160417
i94mode                1
i94addr               GU
dep_yyyymmdd    20160419
i94bir                31
i94visa                2
i94count               1
matflag                M
biryear             1985
gender                 F
airline               TW
fltno              00311
visatype              WT
Name: 543, dtype: object
row = cicid            4030833
i94cit               746
i94res               158
i94port              NYC
arr_yyyymmdd    20160421
i94mode                1
i94addr               NJ
dep_yyyymmdd    20160704
i94bir                12
i94visa                2
i94count               1
matflag                M
biryear             2004
gender                 M
airline               AY
fltno              00005
visatype              B2
Name: 544, dtype: object
row = cicid            4522231
i94cit               209
i94res               209
i94port              PHO
arr_yyyymmdd    20160424
i94mode                1
i94addr               DC
dep_yyyymmdd    20160506
i94bir                69
i94visa                2
i94count               1
matflag                M
biryear             1947
gender                 M
airline               DL
fltno              00276
visatype              WT
Name: 545, dtype: object
row = cicid            4289482
i94cit               135
i94res               135
i94port              LOS
arr_yyyymmdd    20160423
i94mode                1
i94addr               CA
dep_yyyymmdd    20160524
i94bir                69
i94visa                2
i94count               1
matflag                M
biryear             1947
gender                 F
airline               VS
fltno              00007
visatype              WT
Name: 546, dtype: object
row = cicid             636324
i94cit               111
i94res               111
i94port              CHI
arr_yyyymmdd    20160404
i94mode                1
i94addr               NC
dep_yyyymmdd    20160417
i94bir                17
i94visa                2
i94count               1
matflag                M
biryear             1999
gender                 F
airline               AA
fltno              00041
visatype              WT
Name: 547, dtype: object
row = cicid            2048872
i94cit               274
i94res               296
i94port              WAS
arr_yyyymmdd    20160411
i94mode                1
i94addr               DC
dep_yyyymmdd    20160414
i94bir                53
i94visa                1
i94count               1
matflag                M
biryear             1963
gender                 M
airline               EK
fltno              00231
visatype              B1
Name: 548, dtype: object
row = cicid            2933588
i94cit               245
i94res               245
i94port              FMY
arr_yyyymmdd    20160416
i94mode                1
i94addr               CA
dep_yyyymmdd    20160715
i94bir                44
i94visa                2
i94count               1
matflag                M
biryear             1972
gender              None
airline               CA
fltno              00887
visatype              B2
Name: 549, dtype: object
row = cicid            3331441
i94cit               135
i94res               135
i94port              NEW
arr_yyyymmdd    20160418
i94mode                1
i94addr               PA
dep_yyyymmdd    20160422
i94bir                45
i94visa                1
i94count               1
matflag                M
biryear             1971
gender                 M
airline               BA
fltno                185
visatype              WB
Name: 550, dtype: object
row = cicid            2307913
i94cit               111
i94res               111
i94port              BOS
arr_yyyymmdd    20160413
i94mode                1
i94addr               MA
dep_yyyymmdd    20160420
i94bir                41
i94visa                2
i94count               1
matflag                M
biryear             1975
gender                 M
airline               DL
fltno              00125
visatype              WT
Name: 551, dtype: object
row = cicid            4756602
i94cit               520
i94res               520
i94port              MIA
arr_yyyymmdd    20160425
i94mode                1
i94addr               AL
dep_yyyymmdd    20160621
i94bir                 5
i94visa                2
i94count               1
matflag                M
biryear             2011
gender                 F
airline               AA
fltno              00982
visatype              B2
Name: 552, dtype: object
row = cicid            3155478
i94cit               213
i94res               213
i94port              WAS
arr_yyyymmdd    20160417
i94mode                1
i94addr               DC
dep_yyyymmdd    20160430
i94bir                 9
i94visa                2
i94count               1
matflag                M
biryear             2007
gender                 F
airline               KL
fltno              00651
visatype              B2
Name: 553, dtype: object
row = cicid             243257
i94cit               130
i94res               130
i94port              PHO
arr_yyyymmdd    20160402
i94mode                1
i94addr               NY
dep_yyyymmdd    20160407
i94bir                44
i94visa                2
i94count               1
matflag                M
biryear             1972
gender                 F
airline               DL
fltno              00047
visatype              WT
Name: 554, dtype: object
row = cicid             862818
i94cit               213
i94res               117
i94port              PHI
arr_yyyymmdd    20160405
i94mode                1
i94addr               IN
dep_yyyymmdd    20160508
i94bir                52
i94visa                2
i94count               1
matflag                M
biryear             1964
gender                 F
airline               AA
fltno              00719
visatype              B2
Name: 555, dtype: object
row = cicid            6009632
i94cit               254
i94res               276
i94port              AGA
arr_yyyymmdd    20160415
i94mode                1
i94addr               GU
dep_yyyymmdd    20160418
i94bir                 1
i94visa                2
i94count               1
matflag                M
biryear             2015
gender                 M
airline               KE

Name: 686, dtype: object
row = cicid            2142356
i94cit               689
i94res               689
i94port              PHI
arr_yyyymmdd    20160411
i94mode                1
i94addr               FL
dep_yyyymmdd    20160417
i94bir                46
i94visa                2
i94count               1
matflag                M
biryear             1970
gender                 M
airline               JJ
fltno              08092
visatype              B2
Name: 687, dtype: object
row = cicid            3859815
i94cit               135
i94res               135
i94port              NYC
arr_yyyymmdd    20160421
i94mode                1
i94addr               NY
dep_yyyymmdd    20160424
i94bir                36
i94visa                2
i94count               1
matflag                M
biryear             1980
gender                 M
airline               AA
fltno              00279
visatype              WT
Name: 688, dtype: object
row = cicid            2187824
i94cit               209
i94res               209
i94port              HHW
arr_yyyymmdd    20160412
i94mode                1
i94addr               HI
dep_yyyymmdd    20160415
i94bir                50
i94visa                2
i94count               1
matflag                M
biryear             1966
gender              None
airline               JL
fltno              00794
visatype              WT
Name: 689, dtype: object
row = cicid            3108923
i94cit               129
i94res               129
i94port              NEW
arr_yyyymmdd    20160417
i94mode                1
i94addr               NY
dep_yyyymmdd    20160421
i94bir                38
i94visa                1
i94count               1
matflag                M
biryear             1978
gender                 M
airline               LX
fltno                 18
visatype              WB
Name: 690, dtype: object
row = cicid            5835261
i94cit               582
i94res               582
i94port              ATL
arr_yyyymmdd    20160430
i94mode                1
i94addr               FL
dep_yyyymmdd    20160508
i94bir                15
i94visa                2
i94count               1
matflag                M
biryear             2001
gender                 M
airline               DL
fltno              00310
visatype              B2
Name: 691, dtype: object
row = cicid            5974788
i94cit               254
i94res               276
i94port              AGA
arr_yyyymmdd    20160403
i94mode                1
i94addr               GU
dep_yyyymmdd    20160408
i94bir                 9
i94visa                2
i94count               1
matflag                M
biryear             2007
gender                 F
airline               BX
fltno              00612
visatype             GMT
Name: 692, dtype: object
row = cicid            3135817
i94cit               148
i94res               112
i94port              SEA
arr_yyyymmdd    20160417
i94mode                1
i94addr               FL
dep_yyyymmdd    20160428
i94bir                58
i94visa                2
i94count               1
matflag                M
biryear             1958
gender              None
airline               LH
fltno              00462
visatype              WT
Name: 693, dtype: object
row = cicid            1278563
i94cit               576
i94res               576
i94port              HOU
arr_yyyymmdd    20160407
i94mode                1
i94addr               TX
dep_yyyymmdd    20160411
i94bir                53
i94visa                2
i94count               1
matflag                M
biryear             1963
gender                 M
airline               UA
fltno              01467
visatype              B2
Name: 694, dtype: object
row = cicid            1975402
i94cit               108
i94res               108
i94port              DET
arr_yyyymmdd    20160411
i94mode                1
i94addr               FL
dep_yyyymmdd    20160621
i94bir                 1
i94visa                2
i94count               1
matflag                M
biryear             2015
gender                 M
airline               DL
fltno              00133
visatype              WT
Name: 695, dtype: object
row = cicid            6034750
i94cit               252
i94res               209
i94port              AGA
arr_yyyymmdd    20160428
i94mode                1
i94addr               GU
dep_yyyymmdd    20160501
i94bir                38
i94visa                2
i94count               1
matflag                M
biryear             1978
gender                 M
airline               DL
fltno              00610
visatype             GMT
Name: 696, dtype: object
row = cicid             823410
i94cit               115
i94res               115
i94port              ORL
arr_yyyymmdd    20160405
i94mode                1
i94addr               FL
dep_yyyymmdd    20160422
i94bir                31
i94visa                2
i94count               1
matflag                M
biryear             1985
gender                 M
airline               FI
fltno              00689
visatype              WT
Name: 697, dtype: object
row = cicid            5430874
i94cit               116
i94res               116
i94port              PSP
arr_yyyymmdd    20160429
i94mode                1
i94addr               NE
dep_yyyymmdd    20160504
i94bir                40
i94visa                2
i94count               1
matflag                M
biryear             1976
gender                 M
airline               VS
fltno              00043
visatype              WT
Name: 698, dtype: object
row = cicid            4489534
i94cit               123
i94res               123
i94port              NEW
arr_yyyymmdd    20160424
i94mode                1
i94addr               NY
dep_yyyymmdd    20160429
i94bir                49
i94visa                2
i94count               1
matflag                M
biryear             1967
gender                 F
airline               LH
fltno              00408
visatype              WT
Name: 699, dtype: object
row = cicid            5026709
i94cit               123
i94res               123
i94port              NYC
arr_yyyymmdd    20160427
i94mode                1
i94addr               NY
dep_yyyymmdd    20160430
i94bir                44
i94visa                2
i94count               1
matflag                M
biryear             1972
gender                 F
airline               DL
fltno              00049
visatype              WT
Name: 700, dtype: object
row = cicid            5441846
i94cit               129
i94res               129
i94port              LVG
arr_yyyymmdd    20160429
i94mode                1
i94addr               NY
dep_yyyymmdd    20160515
i94bir                22
i94visa                2
i94count               1
matflag                M
biryear             1994
gender                 F
airline               UX
fltno              00091
visatype              WT
Name: 701, dtype: object
row = cicid             275285
i94cit               209
i94res               209
i94port              AGA
arr_yyyymmdd    20160402
i94mode                1
i94addr               GU
dep_yyyymmdd    20160404
i94bir                38
i94visa                2
i94count               1
matflag                M
biryear             1978
gender                 M
airline               DL
fltno              00608
visatype              WT
Name: 702, dtype: object
row = cicid            5687991
i94cit               130
i94res               130
i94port              NEW
arr_yyyymmdd    20160430
i94mode                1
i94addr               NY
dep_yyyymmdd    20160506
i94bir                53
i94visa                2
i94count               1
matflag                M
biryear             1963
gender                 F
airline               SK
fltno              00907
visatype              WT
Name: 703, dtype: object
row = cicid             514906
i94cit               299
i94res               299
i94port              NYC
arr_yyyymmdd    20160403
i94mode                1
i94addr               MD
dep_yyyymmdd    20160412
i94bir                61
i94visa                1
i94count               1
matflag                M
biryear             1955
gender                 F
airline               KE
fltno              00093
visatype              B1
Name: 704, dtype: object
row = cicid            2327918
i94cit               135
i94res               135
i94port              NEW
arr_yyyymmdd    20160413
i94mode                1
i94addr               NY
dep_yyyymmdd    20160418
i94bir                39
i94visa                2
i94count               1
matflag                M
biryear             1977
gender                 M
airline               BA
fltno              00189
visatype              WT
Name: 705, dtype: object
row = cicid            3838865
i94cit               111
i94res               689
i94port              NYC
arr_yyyymmdd    20160421
i94mode                1
i94addr               NY
dep_yyyymmdd    20160424
i94bir                33
i94visa                2
i94count               1
matflag                M
biryear             1983
gender                 M
airline               DL
fltno              00472
visatype              B2
Name: 706, dtype: object
row = cicid            5965743
i94cit               252
i94res               209
i94port              AGA
arr_yyyymmdd    20160404
i94mode                1
i94addr               GU
dep_yyyymmdd    20160407
i94bir                37
i94visa                2
i94count               1
matflag                M
biryear             1979
gender                 M
airline               UA
fltno              00197
visatype             GMT
Name: 707, dtype: object
row = cicid            5206668
i94cit               111
i94res               111
i94port              NYC
arr_yyyymmdd    20160428
i94mode                1
i94addr               NY
dep_yyyymmdd    20160504
i94bir                67
i94visa                1
i94count               1
matflag                M
biryear             1949
gender                 F
airline               AF
fltno              00012
visatype              WB
Name: 708, dtype: object
row = cicid            5285085
i94cit               254
i94res               276
i94port              NYC
arr_yyyymmdd    20160428
i94mode                1
i94addr               NY
dep_yyyymmdd    20160513
i94bir                58
i94visa                2
i94count               1
matflag                M
biryear             1958
gender                 M
airline               OZ
fltno              00222
visatype              WT
Name: 709, dtype: object
row = cicid            4711317
i94cit               148
i94res               112
i94port              NYC
arr_yyyymmdd    20160425
i94mode                1
i94addr               NY
dep_yyyymmdd    20160504
i94bir                 4
i94visa                2
i94count               1
matflag                M
biryear             2012
gender              None
airline               SQ
fltno              00026
visatype              WT
Name: 710, dtype: object
row = cicid             682147
i94cit               209
i94res               209
i94port              HHW
arr_yyyymmdd    20160404
i94mode                1
i94addr               HI
dep_yyyymmdd    20160407
i94bir                23
i94visa                2
i94count               1
matflag                M
biryear             1993
gender                 F
airline               DL
fltno              00578
visatype              WT
Name: 711, dtype: object
row = cicid            3069265
i94cit               689
i94res               689
i94port              ATL
arr_yyyymmdd    20160416
i94mode                1
i94addr               CA
dep_yyyymmdd    20160501
i94bir                53
i94visa                2
i94count               1
matflag                M
biryear             1963
gender                 F
airline               DL
fltno              00104
visatype              B2
Name: 712, dtype: object
row = cicid            3854905
i94cit               131
i94res               131
i94port              MIA
arr_yyyymmdd    20160421
i94mode                1
i94addr               FL
dep_yyyymmdd    20160424
i94bir                52
i94visa                2
i94count               1
matflag                M
biryear             1964
gender                 M
airline               AA
fltno              01501
visatype              WT
Name: 713, dtype: object
row = cicid             697792
i94cit               251
i94res               251
i94port              ATL
arr_yyyymmdd    20160404
i94mode                1
i94addr               GA
dep_yyyymmdd    20160410
i94bir                44
i94visa                2
i94count               1
matflag                M
biryear             1972
gender                 M
airline               DL
fltno              00083
visatype              B2
Name: 714, dtype: object
row = cicid            6027626
i94cit               245
i94res               245
i94port              SRQ
arr_yyyymmdd    20160425
i94mode                1
i94addr               GU
dep_yyyymmdd    20160429
i94bir                29
i94visa                2
i94count               1
matflag                M
biryear             1987
gender                 F
airline               3U
fltno              08647
visatype              CP
Name: 715, dtype: object
row = cicid             215616
i94cit               694
i94res               694
i94port              ATL
arr_yyyymmdd    20160401
i94mode                1
i94addr               GA
dep_yyyymmdd    20160411
i94bir                55
i94visa                2
i94count               1
matflag                M
biryear             1961
gender                 M
airline               DL
fltno              00150
visatype              B2
Name: 716, dtype: object
row = cicid            3330175
i94cit               135
i94res               135
i94port              BOS
arr_yyyymmdd    20160418
i94mode                1
i94addr               MA
dep_yyyymmdd    20160424
i94bir                67
i94visa                2
i94count               1
matflag                M
biryear             1949
gender              None
airline               DY
fltno              07147
visatype              WT
Name: 717, dtype: object
row = cicid            2011996
i94cit               135
i94res               135
i94port              SEA
arr_yyyymmdd    20160411
i94mode                1
i94addr               WA
dep_yyyymmdd    20160412
i94bir                45
i94visa                1
i94count               1
matflag                M
biryear             1971
gender              None
airline               BA
fltno              00049
visatype              WB
Name: 718, dtype: object
row = cicid            5471104
i94cit               207
i94res               207
i94port              SEA
arr_yyyymmdd    20160429
i94mode                1
i94addr               WA
dep_yyyymmdd    20160506
i94bir                77
i94visa                2
i94count               1
matflag                M
biryear             1939
gender                 M
airline               BR
fltno              00026
visatype              WT
Name: 719, dtype: object
row = cicid            2763068
i94cit               528
i94res               528
i94port              MIA
arr_yyyymmdd    20160415
i94mode                1
i94addr               FL
dep_yyyymmdd    20160424
i94bir                27
i94visa                2
i94count               1
matflag                M
biryear             1989
gender                 F
airline               AA
fltno              00956
visatype              B2
Name: 720, dtype: object
row = cicid            3098965
i94cit               116
i94res               116
i94port              MIA
arr_yyyymmdd    20160417
i94mode                1
i94addr             None
dep_yyyymmdd    20160421
i94bir                44
i94visa                1
i94count               1
matflag                M
biryear             1972
gender              None
airline               EI
fltno              00147
visatype              WB
Name: 721, dtype: object
row = cicid            2948769
i94cit               268
i94res               268
i94port              MIA
arr_yyyymmdd    20160416
i94mode                1
i94addr               CA
dep_yyyymmdd    20160515
i94bir                52
i94visa                2
i94count               1
matflag                M
biryear             1964
gender                 F
airline               CI
fltno              00008
visatype              WT
Name: 722, dtype: object
row = cicid             289649
i94cit               245
i94res               245
i94port              DET
arr_yyyymmdd    20160402
i94mode                1
i94addr               GA
dep_yyyymmdd    20160411
i94bir                59
i94visa                2
i94count               1
matflag                M
biryear             1957
gender                 M
airline               DL
fltno              00582
visatype              B2
Name: 723, dtype: object
row = cicid             813390
i94cit               104
i94res               104
i94port              PHO
arr_yyyymmdd    20160405
i94mode                1
i94addr               NC
dep_yyyymmdd    20160407
i94bir                43
i94visa                1
i94count               1
matflag                M
biryear             1973
gender                 M
airline               LH
fltno              00428
visatype              WB
Name: 724, dtype: object
row = cicid            3071228
i94cit               689
i94res               689
i94port              MIA
arr_yyyymmdd    20160416
i94mode                1
i94addr               FL
dep_yyyymmdd    20160424
i94bir                21
i94visa                2
i94count               1
matflag                M
biryear             1995
gender                 F
airline               JJ
fltno              08094
visatype              B2
Name: 725, dtype: object
row = cicid            2956283
i94cit               464
i94res               464
i94port              HHW
arr_yyyymmdd    20160416
i94mode                1
i94addr               HI
dep_yyyymmdd    20160422
i94bir                45
i94visa                2
i94count               1
matflag                M
biryear             1971
gender                 F
airline               NZ
fltno              00010
visatype              WT
Name: 726, dtype: object
row = cicid            2882086
i94cit               111
i94res               111
i94port              CHI
arr_yyyymmdd    20160416
i94mode                1
i94addr               NY
dep_yyyymmdd    20160425
i94bir                21
i94visa                2
i94count               1
matflag                M
biryear             1995
gender                 F
airline               DL
fltno              00047
visatype              WT
Name: 727, dtype: object
row = cicid            1560415
i94cit               104
i94res               104
i94port              CHI
arr_yyyymmdd    20160409
i94mode                1
i94addr               IL
dep_yyyymmdd    20160420
i94bir                 6
i94visa                2
i94count               1
matflag                M
biryear             2010
gender                 F
airline               IB
fltno              06275
visatype              WT
Name: 728, dtype: object
row = cicid            4893326
i94cit               209
i94res               209
i94port              PSP
arr_yyyymmdd    20160426
i94mode                1
i94addr             None
dep_yyyymmdd    20160427
i94bir                34
i94visa                2
i94count               1
matflag                M
biryear             1982
gender              None
airline               SE
fltno              00020
visatype              WT
Name: 729, dtype: object
row = cicid            2006895
i94cit               135
i94res               135
i94port              ORL
arr_yyyymmdd    20160411
i94mode                1
i94addr               FL
dep_yyyymmdd    20160417
i94bir                62
i94visa                2
i94count               1
matflag                M
biryear             1954
gender              None

row = cicid            5735642
i94cit               213
i94res               213
i94port              CHI
arr_yyyymmdd    20160430
i94mode                1
i94addr               GA
dep_yyyymmdd    20160608
i94bir                64
i94visa                2
i94count               1
matflag                M
biryear             1952
gender                 M
airline               QR
fltno              00725
visatype              B2
Name: 862, dtype: object
row = cicid            5673587
i94cit               116
i94res               116
i94port              DUB
arr_yyyymmdd    20160430
i94mode                1
i94addr               NY
dep_yyyymmdd    20160503
i94bir                28
i94visa                2
i94count               1
matflag                M
biryear             1988
gender                 F
airline               EI
fltno              00105
visatype              WT
Name: 863, dtype: object
row = cicid            4882428
i94cit               148
i94res               112
i94port              ATL
arr_yyyymmdd    20160426
i94mode                1
i94addr               AL
dep_yyyymmdd    20160501
i94bir                53
i94visa                1
i94count               1
matflag                M
biryear             1963
gender                 M
airline               DL
fltno              00015
visatype              WB
Name: 864, dtype: object
row = cicid            2546113
i94cit               245
i94res               245
i94port              PHO
arr_yyyymmdd    20160414
i94mode                1
i94addr               IL
dep_yyyymmdd    20160423
i94bir                35
i94visa                2
i94count               1
matflag                M
biryear             1981
gender                 F
airline               HU
fltno              00497
visatype              B2
Name: 865, dtype: object
row = cicid            5731122
i94cit               213
i94res               213
i94port              NYC
arr_yyyymmdd    20160430
i94mode                1
i94addr               MD
dep_yyyymmdd    20160527
i94bir                13
i94visa                2
i94count               1
matflag                M
biryear             2003
gender              None
airline               KU
fltno              00101
visatype              B2
Name: 866, dtype: object
row = cicid            2709302
i94cit               135
i94res               135
i94port              NYC
arr_yyyymmdd    20160415
i94mode                1
i94addr               IL
dep_yyyymmdd    20160802
i94bir                57
i94visa                1
i94count               1
matflag                M
biryear             1959
gender              None
airline               KL
fltno              00611
visatype              WB
Name: 867, dtype: object
row = cicid            1225506
i94cit               268
i94res               268
i94port              SFR
arr_yyyymmdd    20160407
i94mode                1
i94addr               CA
dep_yyyymmdd    20160413
i94bir                34
i94visa                2
i94count               1
matflag                M
biryear             1982
gender                 F
airline               BR
fltno              00028
visatype              WT
Name: 868, dtype: object
row = cicid             435495
i94cit               108
i94res               108
i94port              BOS
arr_yyyymmdd    20160403
i94mode                1
i94addr               MA
dep_yyyymmdd    20160406
i94bir                40
i94visa                1
i94count               1
matflag                M
biryear             1976
gender              None
airline               DL
fltno              00127
visatype              WB
Name: 869, dtype: object
row = cicid            5512209
i94cit               268
i94res               268
i94port              SFR
arr_yyyymmdd    20160429
i94mode                1
i94addr               CA
dep_yyyymmdd    20160507
i94bir                42
i94visa                1
i94count               1
matflag                M
biryear             1974
gender                 F
airline               BR
fltno              00028
visatype              WB
Name: 870, dtype: object
row = cicid            1364080
i94cit               123
i94res               123
i94port              TOR
arr_yyyymmdd    20160408
i94mode                1
i94addr               CA
dep_yyyymmdd    20160414
i94bir                41
i94visa                1
i94count               1
matflag                M
biryear             1975
gender                 M
airline               9E
fltno              03848
visatype              WB
Name: 871, dtype: object
row = cicid            5292921
i94cit               343
i94res               343
i94port              HOU
arr_yyyymmdd    20160428
i94mode                1
i94addr               TX
dep_yyyymmdd    20160518
i94bir                44
i94visa                2
i94count               1
matflag                M
biryear             1972
gender                 M
airline               EK
fltno              00211
visatype              B2
Name: 872, dtype: object
row = cicid            2496521
i94cit               123
i94res               123
i94port              NYC
arr_yyyymmdd    20160414
i94mode                1
i94addr               NY
dep_yyyymmdd    20160424
i94bir                47
i94visa                2
i94count               1
matflag                M
biryear             1969
gender                 F
airline               DL
fltno              00049
visatype              WT
Name: 873, dtype: object
row = cicid            4739992
i94cit               254
i94res               276
i94port              HHW
arr_yyyymmdd    20160425
i94mode                1
i94addr               HI
dep_yyyymmdd    20160429
i94bir                31
i94visa                2
i94count               1
matflag                M
biryear             1985
gender                 F
airline               KE
fltno              00053
visatype              WT
Name: 874, dtype: object
row = cicid             706970
i94cit               299
i94res               299
i94port              SFR
arr_yyyymmdd    20160404
i94mode                1
i94addr             None
dep_yyyymmdd    20160425
i94bir                48
i94visa                2
i94count               1
matflag                M
biryear             1968
gender                 M
airline               UA
fltno              00889
visatype              B2
Name: 875, dtype: object
row = cicid            5762766
i94cit               343
i94res               343
i94port              NYC
arr_yyyymmdd    20160430
i94mode                1
i94addr               NC
dep_yyyymmdd    20160521
i94bir                47
i94visa                2
i94count               1
matflag                M
biryear             1969
gender                 M
airline               W3
fltno              00107
visatype              B2
Name: 876, dtype: object
row = cicid            5002887
i94cit               689
i94res               689
i94port              NYC
arr_yyyymmdd    20160426
i94mode                1
i94addr               NY
dep_yyyymmdd    20160427
i94bir                45
i94visa                2
i94count               1
matflag                M
biryear             1971
gender                 M
airline               AA
fltno              00974
visatype              B2
Name: 877, dtype: object
row = cicid            4541593
i94cit               245
i94res               245
i94port              NEW
arr_yyyymmdd    20160424
i94mode                1
i94addr               TX
dep_yyyymmdd    20160429
i94bir                41
i94visa                1
i94count               1
matflag                M
biryear             1975
gender                 M
airline               CA
fltno              00995
visatype              B1
Name: 878, dtype: object
row = cicid            5707240
i94cit               135
i94res               135
i94port              NAS
arr_yyyymmdd    20160430
i94mode                1
i94addr               FL
dep_yyyymmdd    20160501
i94bir                33
i94visa                2
i94count               1
matflag                M
biryear             1983
gender              None
airline               YX
fltno              04427
visatype              WT
Name: 879, dtype: object
row = cicid            4043656
i94cit               116
i94res               116
i94port              TAM
arr_yyyymmdd    20160422
i94mode                1
i94addr               FL
dep_yyyymmdd    20160429
i94bir                40
i94visa                2
i94count               1
matflag                M
biryear             1976
gender              None
airline               BA
fltno              02167
visatype              WT
Name: 880, dtype: object
row = cicid            2859914
i94cit               689
i94res               689
i94port              MIA
arr_yyyymmdd    20160415
i94mode                1
i94addr               FL
dep_yyyymmdd    20160420
i94bir                50
i94visa                2
i94count               1
matflag                M
biryear             1966
gender                 M
airline               AA
fltno              00214
visatype              B2
Name: 881, dtype: object
row = cicid             307397
i94cit               438
i94res               438
i94port              HHW
arr_yyyymmdd    20160402
i94mode                1
i94addr               HI
dep_yyyymmdd    20160416
i94bir                21
i94visa                2
i94count               1
matflag                M
biryear             1995
gender                 M
airline               HA
fltno              00452
visatype              WT
Name: 882, dtype: object
row = cicid            1760330
i94cit               687
i94res               687
i94port              MIA
arr_yyyymmdd    20160409
i94mode                1
i94addr               FL
dep_yyyymmdd    20160423
i94bir                62
i94visa                2
i94count               1
matflag                M
biryear             1954
gender                 M
airline               AR
fltno              01304
visatype              B2
Name: 883, dtype: object
row = cicid            3506997
i94cit               135
i94res               135
i94port              NYC
arr_yyyymmdd    20160419
i94mode                1
i94addr               NY
dep_yyyymmdd    20160420
i94bir                40
i94visa                1
i94count               1
matflag                M
biryear             1976
gender                 M
airline               AA
fltno              00141
visatype              WB
Name: 884, dtype: object
row = cicid            3029600
i94cit               582
i94res               582
i94port              LOS
arr_yyyymmdd    20160416
i94mode                1
i94addr               CA
dep_yyyymmdd    20160511
i94bir                40
i94visa                2
i94count               1
matflag                M
biryear             1976
gender                 M
airline               CP
fltno              05746
visatype              B2
Name: 885, dtype: object
row = cicid             873211
i94cit               251
i94res               251
i94port              WAS
arr_yyyymmdd    20160405
i94mode                1
i94addr               MD
dep_yyyymmdd    20160418
i94bir                29
i94visa                2
i94count               1
matflag                M
biryear             1987
gender                 M
airline               OS
fltno              00093
visatype              B2
Name: 886, dtype: object
row = cicid            4302956
i94cit               148
i94res               112
i94port              NYC
arr_yyyymmdd    20160423
i94mode                1
i94addr               NY
dep_yyyymmdd    20160511
i94bir                43
i94visa                1
i94count               1
matflag                M
biryear             1973
gender                 M
airline               LH
fltno              00410
visatype              E2
Name: 887, dtype: object
row = cicid            5429364
i94cit               111
i94res               111
i94port              ORL
arr_yyyymmdd    20160429
i94mode                1
i94addr               FL
dep_yyyymmdd    20160507
i94bir                56
i94visa                2
i94count               1
matflag                M
biryear             1960
gender              None
airline               AF
fltno              00090
visatype              WT
Name: 888, dtype: object
row = cicid             252362
i94cit               135
i94res               135
i94port              ORL
arr_yyyymmdd    20160402
i94mode                1
i94addr               NE
dep_yyyymmdd    20160409
i94bir                61
i94visa                2
i94count               1
matflag                M
biryear             1955
gender              None
airline               VS
fltno              00003
visatype              WT
Name: 889, dtype: object
row = cicid            5743519
i94cit               245
i94res               245
i94port              NYC
arr_yyyymmdd    20160430
i94mode                1
i94addr               CA
dep_yyyymmdd    20160614
i94bir                21
i94visa                3
i94count               1
matflag                M
biryear             1995
gender                 F
airline               CX
fltno                888
visatype              F1
Name: 890, dtype: object
row = cicid            3481453
i94cit               696
i94res               696
i94port              NCA
arr_yyyymmdd    20160418
i94mode                1
i94addr               FL
dep_yyyymmdd    20160425
i94bir                59
i94visa                2
i94count               1
matflag                M
biryear             1957
gender                 M
airline              ARU
fltno                821
visatype              B2
Name: 891, dtype: object
row = cicid             446046
i94cit               116
i94res               116
i94port              DUB
arr_yyyymmdd    20160403
i94mode                1
i94addr               NY
dep_yyyymmdd    20160430
i94bir                49
i94visa                2
i94count               1
matflag                M
biryear             1967
gender                 F
airline               EI
fltno              00105
visatype              WT
Name: 892, dtype: object
row = cicid            2751431
i94cit               340
i94res               340
i94port              OGG
arr_yyyymmdd    20160415
i94mode                1
i94addr               PA
dep_yyyymmdd    20160425
i94bir                14
i94visa                2
i94count               1
matflag                M
biryear             2002
gender                 M
airline               BA
fltno              00067
visatype              B2
Name: 893, dtype: object
row = cicid            1211380
i94cit               245
i94res               245
i94port              LOS
arr_yyyymmdd    20160407
i94mode                1
i94addr               CA
dep_yyyymmdd    20160412
i94bir                63
i94visa                2
i94count               1
matflag                M
biryear             1953
gender              None
airline               MU
fltno              00583
visatype              B2
Name: 894, dtype: object
row = cicid             441018
i94cit               111
i94res               111
i94port              WPB
arr_yyyymmdd    20160403
i94mode                1
i94addr               NV
dep_yyyymmdd    20160416
i94bir                 6
i94visa                2
i94count               1
matflag                M
biryear             2010
gender                 M
airline               BA
fltno              00275
visatype              WT
Name: 895, dtype: object
row = cicid            2825582
i94cit               582
i94res               582
i94port              MIA
arr_yyyymmdd    20160415
i94mode                1
i94addr               FL
dep_yyyymmdd    20160421
i94bir                37
i94visa                2
i94count               1
matflag                M
biryear             1979
gender                 M
airline               AM
fltno              00420
visatype              B2
Name: 896, dtype: object
row = cicid            3078710
i94cit               696
i94res               696
i94port              MIA
arr_yyyymmdd    20160416
i94mode                1
i94addr               FL
dep_yyyymmdd    20160708
i94bir                63
i94visa                2
i94count               1
matflag                M
biryear             1953
gender                 F
airline               S3
fltno              01525
visatype              B2
Name: 897, dtype: object
row = cicid             852702
i94cit               148
i94res               112
i94port              DAL
arr_yyyymmdd    20160405
i94mode                1
i94addr               CA
dep_yyyymmdd    20160510
i94bir                57
i94visa                2
i94count               1
matflag                M
biryear             1959
gender              None
airline               LH
fltno              00452
visatype              WT
Name: 898, dtype: object
row = cicid            5724005
i94cit               209
i94res               209
i94port              HHW
arr_yyyymmdd    20160430
i94mode                1
i94addr               HI
dep_yyyymmdd    20160507
i94bir                65
i94visa                2
i94count               1
matflag                M
biryear             1951
gender                 M
airline               KE
fltno              00001
visatype              WT
Name: 899, dtype: object
row = cicid            1016822
i94cit               135
i94res               526
i94port              KOA
arr_yyyymmdd    20160406
i94mode                1
i94addr               OH
dep_yyyymmdd    20160412
i94bir                17
i94visa                2
i94count               1
matflag                M
biryear             1999
gender                 F
airline               AA
fltno              00848
visatype              B2
Name: 900, dtype: object
row = cicid            2479583
i94cit               103
i94res               103
i94port              TAM
arr_yyyymmdd    20160414
i94mode                1
i94addr               FL
dep_yyyymmdd    20160429
i94bir                77
i94visa                2
i94count               1
matflag                M
biryear             1939
gender              None
airline               LH
fltno              00482
visatype              WT
Name: 901, dtype: object
row = cicid            2012102
i94cit               140
i94res               140
i94port              BOS
arr_yyyymmdd    20160411
i94mode                1
i94addr               MA
dep_yyyymmdd    20160417
i94bir                40
i94visa                1
i94count               1
matflag                M
biryear             1976
gender              None
airline               DL
fltno              00127
visatype              WB
Name: 902, dtype: object
row = cicid            5446642
i94cit               131
i94res               131
i94port              NYC
arr_yyyymmdd    20160429
i94mode                1
i94addr               RI
dep_yyyymmdd    20160507
i94bir                30
i94visa                2
i94count               1
matflag                M
biryear             1986
gender                 M
airline               LX
fltno              00016
visatype              WT
Name: 903, dtype: object
row = cicid            1369267
i94cit               130
i94res               130
i94port              LOS
arr_yyyymmdd    20160408
i94mode                1
i94addr               CA
dep_yyyymmdd    20160418
i94bir                34
i94visa                2
i94count               1
matflag                M
biryear             1982
gender                 M
airline               SK
fltno              00939
visatype              WT
Name: 904, dtype: object
row = cicid            5015059
i94cit               108
i94res               108
i94port              CHI
arr_yyyymmdd    20160427
i94mode                1
i94addr               IL
dep_yyyymmdd    20160501
i94bir                69
i94visa                2
i94count               1
matflag                M
biryear             1947
gender              None
airline               SK

In [149]:
conn.commit()
conn.close()