# https://redbus2us.com/travel/usa/us-customs-and-border-protection-cbp-codes-port-of-entry-stamp/

In [1]:
# Do all imports and installs here
from pyspark.sql.functions import udf
from pyspark.sql.session import SparkSession
import datetime
import pandas as pd
import pyspark.sql.functions as F
import psycopg2

spark = SparkSession.builder\
                    .config("spark.jars.packages","org.apache.hadoop:hadoop-aws:2.7.0")\
                    .appName("project: data engineering capstone project")\
                    .getOrCreate()

In [2]:
# Read tsv file(s)
tsv_i94port = pd.read_csv('D:/Capstone-Project/Project-Workspace/inputs/US_Customs_and_Border_Protection_Port_of_Entry_Codes.tsv', sep=r'\t', engine='python')

tsv_i94port.head()

  i94port us_port_of_entry_location
0     ABE              Aberdeen, WA
1     ABG                Alburg, VT
2     ABQ           Albuquerque, NM
3     ABS        Alburg Springs, VT
4     ADT           Amistad Dam, TX

In [3]:
sp_i94port = spark.createDataFrame(tsv_i94port)

sp_i94port.printSchema()

root
 |-- i94port: string (nullable = true)
 |-- us_port_of_entry_location: string (nullable = true)

In [4]:
sp_i94port.createOrReplaceTempView("dim_port")

In [5]:
spark.sql("""
select *
from dim_port
where 1 = 1
""").show()

+-------+-------------------------+
|i94port|us_port_of_entry_location|
+-------+-------------------------+
|    ABE|             Aberdeen, WA|
|    ABG|               Alburg, VT|
|    ABQ|          Albuquerque, NM|
|    ABS|       Alburg Springs, VT|
|    ADT|          Amistad Dam, TX|
|    AGA|              Agana, Guam|
|    AGM|               Algoma, WI|
|    AGN|              Algonac, MI|
|    AGU|             Mayaguez, PR|
|    AKR|                Akron, OH|
|    ALB|               Albany, NY|
|    ALC|                Alcan, AK|
|    ALP|               Alpena, MI|
|    AMB|              Ambrose, ND|
|    ANA|            Anacortes, WA|
|    ANC|            Anchorage, AK|
|    AND|              Andrade, CA|
|    ANP|       Antelope Wells, NM|
|    ANT|               Antler, ND|
|    ANZ|            Anzaldaus, TX|
+-------+-------------------------+
only showing top 20 rows

In [6]:
sp_i94port.coalesce(1).write.format('json').mode('overwrite').save('D:/capstone/solarhenge/dim_port')