In [1]:
# Do all imports and installs here
from pyspark.sql.functions import udf
from pyspark.sql.session import SparkSession
import datetime
import pandas as pd
import pyspark.sql.functions as F
import psycopg2

In [2]:
spark = SparkSession.builder\
                    .config("spark.jars.packages","org.apache.hadoop:hadoop-aws:2.7.0")\
                    .appName("Project: i94")\
                    .getOrCreate()

In [3]:
# Read csv file(s)
csv_i94visas = pd.read_csv('D:/Capstone-Project/Project-Workspace/inputs/i94visas.csv', quotechar="'")

csv_i94visas.head()

   i94visa  visaname
0        1  Business
1        2  Pleasure
2        3   Student

In [4]:
sp_i94visas = spark.createDataFrame(csv_i94visas)

In [5]:
sp_i94visas.printSchema()

root
 |-- i94visa: long (nullable = true)
 |-- visaname: string (nullable = true)

In [6]:
sp_i94visas.coalesce(1).write.format('json').mode('overwrite').save('D:/capstone/solarhenge/dim_visas')